@keyframes fadeEffect {
   0% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}
.selected-color,
.selected-boxed,
.config-content-title,
.preview-wheel,
.error-wrap,
.thankyou-area,
.contact-form-area,
.config-content,
.select-color-main,
.choose-color-category ul li,
.config-category,
.config-content-wrap,
.config-pointer,
.placeholder-logo,
.config-part-category img,
.choose-color-page,
.select-color-category,
.select-color-title h5,
.choose-color-title h5,
.threeD-btn,
.invert-btn,
.action-btns button,
.config-navigation {
   display: none;
   animation: 0.5s fadeEffect ease;
}
.choose-color-main > i.running-move {
   display: none;
}
.config-part-category img {
   animation-duration: 0s;
}
.selected-color.active,
.selected-boxed.active,
.thankyou-area.active,
.contact-form-area.active,
.config-content.active,
.select-color-main.active,
.config-category.active,
.config-content-wrap.active,
.config-pointer.active,
.placeholder-logo.active,
.config-part-category img.active,
.select-color-category.active,
.select-color-title h5.active,
.choose-color-title h5.active,
.config-navigation.active {
   display: block;
}

.preview-wheel.active,
.config-content-title.active,
.error-wrap.active,
.choose-color-page.active {
   display: flex;
}
.choose-color-main > i.running-move.active,
.choose-color-category,
.choose-color-category ul li.active,
.threeD-btn.active,
.invert-btn.active,
.action-btns button.active {
   display: inline-block;
}
.color-fixed {
   display: inline-block !important;
}
.select-color-title h5.boxed-blur,
.boxed-blur,
.select-color-category.boxed-blur:first-child {
   filter: blur(8px);
   pointer-events: none !important;
   display: block;
}
.selected-color-wrap.boxed-blur {
   display: flex;
}
.select-color-category.boxed-blur {
   display: none;
}
.clean-color {
   margin-right: 10px;
   color: #fff;
   transition: 0.3s ease;
   opacity: 0.1;
   pointer-events: none;
   cursor: pointer;
}
.clean-color:hover {
   color: var(--theme-color);
}

.selected-color ul li.active  .clean-color{
   opacity: 1;
   pointer-events: all;
}

.config-pointer-wrap,
.config-part-page,
.config-part-category img {
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   z-index: 1;
}

.config-pointer-wrap {
   z-index: 99;
}
.placeholder-logo {
   padding: 50px 0;
}
.selected-color {
   transition: 0.3s ease;
}
.config-category ul li span {
	color: var(--theme-color);
	margin-left: 5px;
	transform: translateY(-10px);
	font-size: 16px;
	display: inline-block;
}
.config-wheel-wrap {
	position: relative;
	display: inline-block;
	margin-left: -10%;
}
.wheel-shadow {
   position: absolute;
   bottom: 0;
   left: 50%;
   z-index: -1;
   transform: translate(-50%);
}
/* navigation */
.config-navigation-wrap {
   position: relative;
}
.navigation-slider ul {
   display: flex;
   transition: 0.3s ease;
}
.navigation-slider ul li {
	position: relative;
	margin-bottom: 10px;
	cursor: pointer;
	text-align: center;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 700;
	transition: .3s ease;
	color: #fff;
}
.navigation-slider ul li:hover,
.navigation-slider ul li.active {
	color: var(--theme-color);
}
.navigation-slider {
   overflow: hidden;
   margin: 0 auto;
}
.navigation-slider ul li img {
   max-width: 120px;
}
.navigation-arrow button {
	height: 45px;
	width: 45px;
	line-height: 45px;
	font-size: 18px;
	position: absolute;
	left: -5%;
	top: 44%;
	transform: translate(0, -50%);
	margin: 0;
	border-radius: 50%;
	border: 0;
	background: #fff;
	color: #000;
	transition: 0.3s ease;
}
.navigation-arrow button:hover {
   background: var(--theme-color);
   color: #000;
}
.navigation-arrow button.arrow-next {
   right: -5%;
   left: auto;
}

.last-preview-config {
   position: relative;
}

/* pointer css */
.pointer-name {
	position: absolute;
	left: 5%;
	top: 5%;
	background: var(--theme-color);
	text-transform: uppercase;
	padding: 10px 20px;
	font-size: 16px;
	margin: 0;
}
.pointer-name::after {
	position: absolute;
	content: "";
	height: 270px;
	width: 2px;
	background: var(--theme-color);
	transform: rotate(-35.5deg);
	transform-origin: top right;
	top: 100%;
	right: 20px;
}
.pointer-name::before {
   position: absolute;
   content: "";
   background: var(--theme-color);
   box-shadow: 3.5px 6.062px 24px 0px rgba(0, 0, 0, 1);
   width: 10px;
   height: 10px;
   top: 100%;
   right: 20px;
   border-radius: 50%;
   transform: translate(60%);
}
.pointer {
	background: var(--theme-color);
	border-radius: 50%;
	width: 25px;
	height: 25px;
	box-shadow: 3.5px 6.062px 24px 0px rgba(0, 0, 0, 1);
	display: block;
	position: absolute;
	left: 38%;
	top: 41%;
}

.face-letter .pointer {
	left: 60%;
	top: 44%;
}
.face-letter .pointer-name::after {
	height: 380px;
	transform: rotate(-50.5deg) translate(-2px);
}

.face .pointer {
	left: 38%;
	top: 33%;
}
.face .pointer-name::after {
	transform: rotate(-48.5deg) translate(-2px);
	height: 250px;
}

.cap-letter .pointer {
   top: 48%;
   left: 46%;
}
.cap-letter .pointer-name::after {
	height: 330px;
}

.cap .pointer {
   left: 45%;
   top: 49%;
}
.cap .pointer-name::after {
	height: 365px;
	transform: rotate(-41deg) translate(-2px);
}

.bolts .pointer {
   left: 22%;
   top: 20%;
}
.bolts .pointer-name::after {
   height: 120px;
   transform: rotate(-40.5deg) translate(-2px);
}

.outer-barrel .pointer {
	left: 25%;
	top: 13%;
}
.outer-barrel .pointer-name::after {
	height: 40px;
	transform: rotate(-50.5deg);
}

.inner-barrel .pointer-name {
   top: 93%;
}
.inner-barrel .pointer-name::before {
   bottom: 100%;
   top: auto;
}
.inner-barrel .pointer-name::after {
	transform: rotate(55.5deg) translate(-2px);
	transform-origin: bottom right;
	top: auto;
	bottom: 100%;
	height: 130px;
}
.inner-barrel .pointer {
	left: 35%;
	top: 80%;
}

.barrel-letter .pointer {
	left: 36%;
	top: 6%;
}
.barrel-letter .pointer-name::after {
	height: 110px;
	transform: rotate(-100.5deg);
}
/* moving animation */
.running-move{
	animation: moving 1.2s ease infinite;
}
@keyframes moving{
	0%{transform: translate(-8px);}
	50%{transform: translate(0px);}
	100%{transform: translate(-8px);}
}

/* PULSE */

.pulse-pop,
.bounce-pop{
   position: relative;
   z-index: 1;
}
.pulse-pop:before,
.bounce-pop::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: -2px;
  left: -2px;
  bottom: -2px;
  right: -2px;
  border-radius: inherit;
  background-color: var(--theme-color);
  opacity: 0.3;
  z-index: -1;
  -webkit-animation: btnIconRipple 2s cubic-bezier(0.23, 1, 0.32, 1) both
     infinite;
  animation: btnIconRipple 2s cubic-bezier(0.23, 1, 0.32, 1) both infinite;
}
@keyframes btnIconRipple {
  0% {
     border-width: 4px;
     -webkit-transform: scale(1);
     transform: scale(1);
  }

  80% {
     border-width: 1px;
     -webkit-transform: scale(1.2);
     transform: scale(1.2);
  }

  100% {
     opacity: 0;
  }
}