@font-face {
    font-family: 'Renner*';
    src: url('../fonts/renner/Renner-it-Light.eot');
    src: local('Renner* Light'), local('Renner-it-Light'),
        url('../fonts/renner/Renner-it-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/renner/Renner-it-Light.woff2') format('woff2'),
        url('../fonts/renner/Renner-it-Light.woff') format('woff'),
        url('../fonts/renner/Renner-it-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Renner*';
    src: url('../fonts/renner/Renner-it-BlackItalic.eot');
    src: local('Renner* Black Italic'), local('Renner-it-BlackItalic'),
        url('../fonts/renner/Renner-it-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/renner/Renner-it-BlackItalic.woff2') format('woff2'),
        url('../fonts/renner/Renner-it-BlackItalic.woff') format('woff'),
        url('../fonts/renner/Renner-it-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Renner*';
    src: url('../fonts/renner/Renner-it-Black.eot');
    src: local('Renner* Black'), local('Renner-it-Black'),
        url('../fonts/renner/Renner-it-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/renner/Renner-it-Black.woff2') format('woff2'),
        url('../fonts/renner/Renner-it-Black.woff') format('woff'),
        url('../fonts/renner/Renner-it-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Renner*';
    src: url('../fonts/renner/Renner-it-BookItalic.eot');
    src: local('Renner* Book Italic'), local('Renner-it-BookItalic'),
        url('../fonts/renner/Renner-it-BookItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/renner/Renner-it-BookItalic.woff2') format('woff2'),
        url('../fonts/renner/Renner-it-BookItalic.woff') format('woff'),
        url('../fonts/renner/Renner-it-BookItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Renner*';
    src: url('../fonts/renner/Renner-it-Bold.eot');
    src: local('Renner* Bold'), local('Renner-it-Bold'),
        url('../fonts/renner/Renner-it-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/renner/Renner-it-Bold.woff2') format('woff2'),
        url('../fonts/renner/Renner-it-Bold.woff') format('woff'),
        url('../fonts/renner/Renner-it-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Renner*';
    src: url('../fonts/renner/Renner-it-Semi.eot');
    src: local('Renner* Semi'), local('Renner-it-Semi'),
        url('../fonts/renner/Renner-it-Semi.eot?#iefix') format('embedded-opentype'),
        url('../fonts/renner/Renner-it-Semi.woff2') format('woff2'),
        url('../fonts/renner/Renner-it-Semi.woff') format('woff'),
        url('../fonts/renner/Renner-it-Semi.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Renner*';
    src: url('../fonts/renner/Renner-it-HeavyItalic.eot');
    src: local('Renner* Heavy Italic'), local('Renner-it-HeavyItalic'),
        url('../fonts/renner/Renner-it-HeavyItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/renner/Renner-it-HeavyItalic.woff2') format('woff2'),
        url('../fonts/renner/Renner-it-HeavyItalic.woff') format('woff'),
        url('../fonts/renner/Renner-it-HeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Renner*';
    src: url('../fonts/renner/Renner-it-Medium.eot');
    src: local('Renner* Medium'), local('Renner-it-Medium'),
        url('../fonts/renner/Renner-it-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/renner/Renner-it-Medium.woff2') format('woff2'),
        url('../fonts/renner/Renner-it-Medium.woff') format('woff'),
        url('../fonts/renner/Renner-it-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Renner*';
    src: url('../fonts/renner/Renner-it-Heavy.eot');
    src: local('Renner* Heavy'), local('Renner-it-Heavy'),
        url('../fonts/renner/Renner-it-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../fonts/renner/Renner-it-Heavy.woff2') format('woff2'),
        url('../fonts/renner/Renner-it-Heavy.woff') format('woff'),
        url('../fonts/renner/Renner-it-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Renner*';
    src: url('../fonts/renner/Renner-it-ThinItalic.eot');
    src: local('Renner* Thin Italic'), local('Renner-it-ThinItalic'),
        url('../fonts/renner/Renner-it-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/renner/Renner-it-ThinItalic.woff2') format('woff2'),
        url('../fonts/renner/Renner-it-ThinItalic.woff') format('woff'),
        url('../fonts/renner/Renner-it-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Renner*';
    src: url('../fonts/renner/Renner-it-BoldItalic.eot');
    src: local('Renner* Bold Italic'), local('Renner-it-BoldItalic'),
        url('../fonts/renner/Renner-it-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/renner/Renner-it-BoldItalic.woff2') format('woff2'),
        url('../fonts/renner/Renner-it-BoldItalic.woff') format('woff'),
        url('../fonts/renner/Renner-it-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Renner* Hairline';
    src: url('../fonts/renner/Renner-it-Hairline.eot');
    src: local('Renner* Hairline'), local('Renner-it-Hairline'),
        url('../fonts/renner/Renner-it-Hairline.eot?#iefix') format('embedded-opentype'),
        url('../fonts/renner/Renner-it-Hairline.woff2') format('woff2'),
        url('../fonts/renner/Renner-it-Hairline.woff') format('woff'),
        url('../fonts/renner/Renner-it-Hairline.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Renner*';
    src: url('../fonts/renner/Renner-it-LightItalic.eot');
    src: local('Renner* Light Italic'), local('Renner-it-LightItalic'),
        url('../fonts/renner/Renner-it-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/renner/Renner-it-LightItalic.woff2') format('woff2'),
        url('../fonts/renner/Renner-it-LightItalic.woff') format('woff'),
        url('../fonts/renner/Renner-it-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Renner*';
    src: url('../fonts/renner/Renner-it-MediumItalic.eot');
    src: local('Renner* Medium Italic'), local('Renner-it-MediumItalic'),
        url('../fonts/renner/Renner-it-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/renner/Renner-it-MediumItalic.woff2') format('woff2'),
        url('../fonts/renner/Renner-it-MediumItalic.woff') format('woff'),
        url('../fonts/renner/Renner-it-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Renner';
    src: url('../fonts/renner/Renner-it-Thin.eot');
    src: local('Renner-it Thin'), local('Renner-it-Thin'),
        url('../fonts/renner/Renner-it-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/renner/Renner-it-Thin.woff2') format('woff2'),
        url('../fonts/renner/Renner-it-Thin.woff') format('woff'),
        url('../fonts/renner/Renner-it-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Renner* Hairline';
    src: url('../fonts/renner/Renner-it-HairlineItalic.eot');
    src: local('Renner* Hairline Italic'), local('Renner-it-HairlineItalic'),
        url('../fonts/renner/Renner-it-HairlineItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/renner/Renner-it-HairlineItalic.woff2') format('woff2'),
        url('../fonts/renner/Renner-it-HairlineItalic.woff') format('woff'),
        url('../fonts/renner/Renner-it-HairlineItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Renner*';
    src: url('../fonts/renner/Renner-it-Book.eot');
    src: local('Renner* Book'), local('Renner-it-Book'),
        url('../fonts/renner/Renner-it-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/renner/Renner-it-Book.woff2') format('woff2'),
        url('../fonts/renner/Renner-it-Book.woff') format('woff'),
        url('../fonts/renner/Renner-it-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Renner*';
    src: url('../fonts/renner/Renner-it-SemiItalic.eot');
    src: local('Renner* Semi Italic'), local('Renner-it-SemiItalic'),
        url('../fonts/renner/Renner-it-SemiItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/renner/Renner-it-SemiItalic.woff2') format('woff2'),
        url('../fonts/renner/Renner-it-SemiItalic.woff') format('woff'),
        url('../fonts/renner/Renner-it-SemiItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

