/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {


    /* HERO-AREA */
    .hero-content {
        padding-left: 60px;
    }
    .hero-content h4 {
        font-size: 40px;
    }
    .hero-content h2 {
        font-size: 100px;
        margin-top: 0px;
        margin-bottom: 15px;
    }
    .hero-content p {
        font-size: 18px;
    }



    .service-heading h2 {
        font-size: 40px;
    }
    .section-title h2 {
        font-size: 70px;
        line-height: 70px;
    }
    .section-title p {
        font-size: 24px;
    }
    .membership-heading::before {
        bottom: -13px;
    }
    .texas-left-content h2 {
        font-size: 80px;
        line-height: 70px;
    }
    .mainmenu ul li a {
        font-size: 16px;
        padding: 35px 20px;
    }


    .contact-sl-active button.slick-next {
        right: 0;
    }
    .contact-sl-active button{
        left: 0;
    }


}


/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {


    /* HEADER-AREA */
    .mainmenu ul li a {
        font-size: 15px;
        padding: 15px 15px;
    }
    .header-btn {
        font-size: 15px;
    }
    .top-header h6 {
        font-size: 15px;
    }
    .logo img {
        max-height: 110px;
    }


    /* HERO-AREA */
    .hero-content {
        padding-left: 60px;
    }
    .hero-content h4 {
        font-size: 40px;
    }
    .hero-content h2 {
        font-size: 100px;
        margin-top: 0px;
        margin-bottom: 15px;
    }
    .hero-content p {
        font-size: 18px;
    }

    /* FOOTER-AREA */
    .widget-link ul li a {
        font-size: 16px;
    }
    .widget-social-link a {
        width: 50px;
        height: 50px;
        line-height: 55px;
        font-size: 22px;
    }




    .fe-content p {
        font-size: 18px;
    }
    .fe-content h2 {
        font-size: 60px;
    }
    .work-items {
        height: 350px;
    }
    .service-heading h2 {
        font-size: 35px;
    }

    .service-heading {
        padding: 0 20px;
        padding-left: 0;
    }
    .service-heading p {
        margin-bottom: 0;
        font-size: 16px;
    }


    .membership-heading {
        padding: 0 25px;
    }
    .membership-heading h2, .membership-heading h3 {
        font-size: 40px;
    }

    .membership-content {
        padding: 40px 30px;
        margin-top: 20px;
    }
    .membership-content ul li {
        font-size: 16px;
    }
    .membership-heading::before {
        bottom: -10px;
    }


    .section-title h2 {
        font-size: 60px;
        line-height: 60px;
    }

    .section-title p,
    .texas-left-content p {
        font-size: 22px;
    }
    .texas-left-content h2 {
        font-size: 60px;
        line-height: 55px;
    }
    .quite-icon i {
        font-size: 35px;
    }

    .sl-shop-heading {
        padding: 30px 20px;
    }

    .sl-shop-heading h2 {
        font-size: 50px;
    }
    .sl-shop-thumb img {
        margin-left: 0;
    }
    .shop-slide-active button {
        left: 0;
    }
    .shop-slide-active button.slick-next {
        right: 0;
    }

    .fe2-content h2 {
        font-size: 90px;
        line-height: 85px;
    }

    .address-wrapper {
        padding: 30px 40px;
        width: 80.2%;
        height: 90%;
    }

    .contact-sl-active button.slick-next {
        right: 0;
    }
    .contact-sl-active button{
        left: 0;
    }


}

 
/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {


    /* HEADER-AREA */
    .header-right,
    .logo:after{
        display: none;
    }
    .hamberguer-menu{
        display: block;
    }
    .logo img {
        max-height: 80px;
        padding-left: 15px;
    }
    .logo {
        padding: 5px 15px;
        text-align: left;
        height: auto;
    }


    /* HERO-AREA */
    .hero-area {
        height: auto;
    }
    .hero-content {
        padding-top: 250px;
        padding-bottom: 150px;
    }
    .hero-content h4 {
        font-size: 24px;
    }
    .hero-content h2 {
        font-size: 70px;
        margin-top: 0;
        margin-bottom: 15px;
    }
    .hero-content p {
        font-size: 18px;
        margin-bottom: 0;
    }
    .site-btn {
        width: auto;
        padding: 12px 15px;
        font-size: 14px;
    }

    /* FOOTER-AREA */
    .widget-link ul li a {
        font-size: 16px;
        display: inline-block;
    }
    .widget-link ul li{
        width: 100%;
    }
    .widget-logo img {
        max-width: 120px;
    }
    .widget-social-link a {
        width: 50px;
        height: 50px;
        line-height: 56px;
    }
    #scrollUp i {
        line-height: 30px;
    }
    #scrollUp {
        height: 30px;
        right: 15px;
        width: 30px;
    }


    /* Service */
    .auto-se-right-img {
        margin-top: 30px;
    }
    .fe-content p {
        font-size: 14px;
    }
    .fe-content h2 {
        font-size: 50px;
    }

    /* Work-area */
    .work-items {
        height: 300px;
    }
    .section-title h2 {
        font-size: 60px;
        line-height: 50px;
    }
    .section-title p {
        font-size: 18px;
    }

    /* ABOUT */
    .about-content p {
        font-size: 14px;
    }
    .about-content h2 {
        font-size: 50px;
    }


    /* SERVICE */
    .our-service-item {
        flex-wrap: wrap;
        height: auto;
    }
    .service-thumb {
        width: 100%;
        height: 250px;
    }
    .service-thumb:after{
        display: none;
    }
    .service-heading {
        width: 100%;
        padding: 30px 30px;
    }
    .service-heading h2 {
        font-size: 40px;
    }

    /* NEWSLETTER */
    .newsletter-wrapper input {
        height: 60px;
    }
    .newsletter-wrapper button {
        height: 60px;
    }


    /* MEMBERSHIP-=AREA */
    .membership-heading {
        height: 220px;
        padding: 0 15px;
    }
    .membership-heading h2, .membership-heading h3 {
        font-size: 30px;
    }
    .membership-heading p {
        font-size: 16px;
    }
    .membership-heading::before {
        display: none;
    }
    .membership-content {
        padding: 30px 15px;
        margin-top: 0;
    }
    .membership-content ul li {
        font-size: 14px;
        padding-left: 25px;
    }


    /* Why */
    .why-items {
        padding: 50px 10px;
    }
    .why-content h4 {
        font-size: 20px;
    }
    .why-content p {
        font-size: 16px;
    }
    .texas-left-content h2 {
        font-size: 40px;
        line-height: 40px;
    }
    .texas-left-content p {
        font-size: 18px;
    }


    /* TESTIMONIAL */
    .te-sl-item.slick-slide {
        padding: 30px 15px;
    }
    .te-sl-item.slick-slide p {
        font-size: 16px;
    }
    .te-sl-item.slick-slide h4 {
        font-size: 18px;
    }
    .te-sl-item.slick-slide h4 span {
        font-size: 14px;
    }
    .quite-icon i {
        font-size: 30px;
    }



    /* shop-area */
    .shop-title h2, .shop-title h4 {
        font-size: 60px;
        line-height: 70px;
    }
    .shop-title h4 span img {
        max-width: 200px;
    }

    .sl-shop-heading {
        padding: 30px 15px;
    }
    .sl-shop-heading h2 {
        font-size: 40px;
    }
    .sl-shop-heading h6 {
        font-size: 14px;
    }
    .sl-shop-thumb img {
        margin-left: 0;
    }
    .shop-slide-active button {
        left: 0;
    }
    .shop-slide-active button.slick-next {
        left: auto;
        right: 0;
    }


    /* COUPON */
    .coupon-item {
        padding: 40px 20px;
    }
    .coupon-item > h2 {
        font-size: 50px;
    }
    .coupon-item > h2 span {
        font-size: 20px;
    }
    .coupon-item p {
        font-size: 16px;
    }


    /* Select-vechle */
    .select-vechle-content p,
    .contact-info ul li {
        font-size: 16px;
    }
    .select-vechle-content h2 {
        font-size: 50px;
    }
    .select-vechle-wrapper {
        padding: 40px 40px;
    }
    .select-vechle-form > h2 {
        font-size: 26px;
    }
    .select-vechle-content ul li {
        font-size: 14px;
    }


    /* CONTACT */
    .widget-social-link a {
        width: 45px;
        height: 45px;
        font-size: 20px;
        line-height: 49px;
        margin: 0 2px;
    }


    .service-intro-area h2 {
        font-size: 40px;
    }
    .service-intro-area p {
        font-size: 16px;
    }

    .contact-intro-text p {
        font-size: 20px;
    }

    .contact-intro-text > i {
        width: 60px;
        height: 60px;
        line-height: 60px;
        font-size: 22px;
    }

    .contact-intro-text {
        padding-left: 80px;
    }





    .fe2-content p {
        font-size: 17px;
    }
    .fe2-content h2 {
        font-size: 70px;
        line-height: 60px;
    }


    .sidebar-menu-wrapper {
        display: block;
    }
    .hero-content {
        text-align: center;
        width: 80%;
        margin: auto;
    }
    .address-wrapper {
        position: absolute;
        bottom: 0;
        background: #000000;
        padding: 20px 40px;
        width: 80.2%;
        height: 90%;
    }


    .contact-sl-active button.slick-next {
        right: 0;
    }

    .contact-sl-active button{
        left: 0;
    }
    
    .coupon-slide-active button.slick-next {
        right: 0;
    }
    .coupon-slide-active button {
        left: 0;
    }

    .header-area.sticky {
        left: 0;
        margin: auto;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 999;
        -webkit-animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
        animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
        padding: 0;
        padding-top: 15px;
    }

}

 
/* small mobile :320px. */
@media (max-width: 767px) {
    
    

    /* HEADER-AREA */
    .header-right,
    .logo:after{
        display: none;
    }
    .hamberguer-menu{
        display: block;
    }
    .logo img {
        max-height: 60px;
        padding-left: 15px;
    }
    .logo {
        padding: 5px 15px;
        text-align: left;
        height: auto;
    }
    
    .sidebar-menu-wrapper {
        display: block;
    }


    /* HERO-AREA */
    .hero-area {
        height: auto;
    }
    .hero-content {
        padding-top: 150px;
        padding-bottom: 100px;
    }
    .hero-content h4 {
        font-size: 18px;
    }
    .hero-content h2 {
        font-size: 50px;
        margin-top: 0;
        margin-bottom: 15px;
    }
    .hero-content p {
        font-size: 14px;
        margin-bottom: 0;
    }
    .site-btn {
        width: auto;
        padding: 12px 15px;
        font-size: 14px;
    }


    /* FOOTER-AREA */
    .widget-single-item {
        text-align: center;
    }
    .widget-link ul li a {
        font-size: 14px;
        display: inline-block;
    }
    .widget-link ul li{
        width: 100%;
    }
    .widget-logo img {
        max-width: 120px;
    }
    .widget-social-link a {
        width: 50px;
        height: 50px;
        line-height: 56px;
    }
    .widget-logo {
        margin: 30px 0;
    }
    .widget-social-link {
        text-align: center;
    }
    .copyright-text {
        font-size: 14px;
        margin-top: 0;
    }
    #scrollUp i {
        line-height: 30px;
    }
    #scrollUp {
        height: 30px;
        right: 15px;
        width: 30px;
    }



    /* SERVICE-AREA */
    .auto-se-list h2 {
        font-size: 50px;
        line-height: 45px;
    }
    .auto-se-list p {
        font-size: 16px;
    }
    .auto-se-list ul li {
        font-size: 14px;
    }
    .auto-se-list {
        margin-bottom: 30px;
    }
    .auto-se-right-img .img-2 {
        margin-top: 30px;
    }


    /* FEATURE-SECTION-1 */
    .fe-left-img {
        position: relative;
        width: 100%;
        height: 250px;
        border-right: none;
        border-bottom: 4px solid var(--theme-color);
    }
    .fe-content {
        padding: 60px 0;
        padding-left: 0;
    }
    .fe-content h2 {
        font-size: 50px;
    }
    .fe-content p {
        font-size: 16px;
    }


    /* section-title */
    .section-title h2 {
        font-size: 50px;
        line-height: 50px;
    }
    .section-title p {
        font-size: 16px;
    }


    /* WORK-AREA */
    .work-items {
        height: 150px;
        margin-top: 15px;
    }

    .our-work-area .row {
        margin-left: -7.5px;
        margin-right: -7.5px;
    }
    .our-work-area .col-6 {
        padding-left: 7.5px;
        padding-right: 7.5px;
    }
    .work-link-action a {
        width: 40px;
        height: 40px;
        line-height: 42px;
        font-size: 12px;
    }
    .work-link-action p {
        font-size: 12px;
    }
    .work-link-action h2 {
        font-size: 20px;
    }

    /* about-area */
    .about-logo {
        text-align: center;
    }
    .about-logo img {
        max-width: 150px;
        margin: 0 auto;
    }
    .about-content {
        text-align: center;
        margin-top: 30px;
    }
    .about-content h2 {
        font-size: 50px;
    }
    .about-content p {
        font-size: 16px;
    }
    .about-content .site-btn {
        margin-top: 30px;
    }
    .about-us-area::after {
        height: 100%;
        transform: translateY(-50%) skewY(0deg);
    }


    /* SERVICE-AREA */
    .our-service-item {
        flex-wrap: wrap;
        margin-bottom: 30px;
        height: auto;
    }
    .service-thumb {
        width: 100%;
        height: 200px;
    }
    .service-thumb:after{
        display: none;
    }
    .service-heading {
        width: 100%;
        padding: 20px 15px;
    }
    .service-heading h2 {
        font-size: 40px;
        margin-bottom: 15px;
    }
    p {
        font-size: 16px;
    }



    /* NEWSLETTER-AREA */
    .newsletter-area {
        padding-top: 60px;
    }
    .newsleter-title h2 {
        font-size: 35px;
    }

    .newsletter-form {
        margin-top: 0;
        padding: 30px 15px;
    }
    .newsletter-wrapper button {
        position: relative;
        height: 55px;
        font-size: 20px;
        width: 100%;
    }
    .newsletter-wrapper input {
        height: 55px;
        padding: 0 30px;
        font-weight: 700;
    }


    /* MEMBERSHIP-AREA */
    .membership-area {
        padding-top: 230px;
        padding-bottom: 30px;
    }

    .membership-heading {
        height: 250px;
        padding: 0 30px;
    }
    .membership-heading::before {
        display: none;
    }
    .membership-heading h2, .membership-heading h3 {
        font-size: 40px;
    }
    .membership-content {
        padding: 30px 20px;
        margin-top: 0;
    }
    .membership-content ul li {
        font-size: 16px;
        padding-left: 30px;
    }
    .membership-item {
        margin-bottom: 30px;
    }


    /* WHY-AREA */
    .why-area::after {
        height: 100%;
        transform: translateY(-50%) skewY(0deg);
    }
    .why-area {
        padding: 60px 0;
    }
    .section-title h2 {
        font-size: 35px;
        line-height: 37px;
    }
    .why-items {
        padding: 30px 15px;
    }
    .why-icon {
        width: 100px;
        height: 100px;
        line-height: 100px;
    }

    /* TEXSUS-ABOUT */
    .texas-left-content h2 {
        font-size: 35px;
        line-height: 40px;
    }
    .texas-left-content p {
        font-size: 16px;
    }
    .texas-left-content {
        margin-bottom: 30px;
        text-align: center;
    }


    /* TESTIMONIAL */
    .testimonial-area::after {
        height: 100%;
        transform: translateY(-50%) skewY(0deg);
    }
    .testimonial-area {
        padding: 60px 0;
    }


    /* SHOP-AREA */
    .shop-title h2, .shop-title h4 {
        font-size: 40px;
        line-height: 1.4;
    }
    .shop-title h4 span img {
        max-width: 120px;
    }
    .shop-area .row {
        margin-left: -5px;
        margin-right: -5px;
    }
    .shop-area .col-6 {
        padding-left: 5px;
        padding-right: 5px;
    }
    .shop-item {
        margin-top: 20px;
    }
    .shop-thumb {
        padding-left: 15px;
    }
    .shop-thumb h6 {
        font-size: 14px;
    }
    .shop-heading h4 {
        font-size: 18px;
    }
    .shop-heading p {
        font-size: 12px;
    }

    /* shop-slider */
    .shop-slider-area::after {
        height: 100%;
        transform: translateY(-50%) skewY(0);
    }
    .sl-shop-item {
        margin: 0 10px;
    }
    .shop-slide-active {
        margin-left: -10px;
        margin-right: -10px;
    }
    .sl-shop-heading {
        padding: 30px 5px;
        padding-bottom: 0;
    }
    .sl-shop-heading h2 {
        font-size: 18px;
    }
    .sl-shop-heading h6 {
        font-size: 12px;
    }
    .sl-shop-heading h6 span {
        display: block;
    }
    .sl-shop-heading h4 {
        padding: 8px 15px;
        font-size: 14px;
    }
    .sl-shop-thumb img {
        margin-left: 0;
    }


    .shop-slide-active button.slick-next {
        left: 50%;
        right: auto;
        margin-left: 30px;
    }
    .shop-slide-active button {
        top: auto;
        transform: translateX(-50%);
        width: 40px;
        height: 40px;
        font-size: 25px;
        line-height: 23px;
        bottom: -110px;
        left: 50%;
        margin-left: -30px;
    }


    /* coupons-area */
    .coupon-item {
        padding: 30px 20px;
        margin-bottom: 30px;
    }
    .coupon-item > h2 {
        font-size: 40px;
    }
    .coupon-item > h2 span {
        font-size: 16px;
    }
    .coupon-item p {
        font-size: 14px;
    }
    .coupon-list {
        padding: 20px 15px;
        margin-top: 30px;
    }
    .coupon-list ul li {
        font-size: 14px;
    }


    /* SELECT-VECHLE-AREA */
    .select-vechle-wrapper {
        padding: 30px 20px;
    }
    .select-vechle-content h2 {
        font-size: 35px;
    }
    .select-vechle-content p {
        font-size: 16px;
    }
    .select-vechle-content ul li {
        font-size: 14px;
        padding-left: 25px;
    }
    .select-vechle-content ul li::after {
        top: -2px;
        font-size: 16px;
    }

    .select-vechle-form {
        margin-top: 50px;
    }
    .select-vechle-form > h2 {
        font-size: 24px;
    }
    .vehcle-input-item .nice-select {
        height: 50px;
        line-height: 50px;
    }
    .vehcle-input-item::after {
        display: none;
    }


    /* CONTACT-AREA */
    .contact-wrapper {
        padding-right: 0;
        text-align: center;
    }
    .contact-map {
        position: relative;
        width: 100%;
        height: 300px;
    }
    .contact-info {
        padding: 0px 0;
    }

    .address-wrapper {
        position: relative;
        padding: 30px 15px;
        width: 100%;
        height: 100%;
    }
    .contact-info > img {
        display: none;
    }
    .contact-info ul li {
        font-size: 16px;
        padding-left: 0;
    }
    .input-item input, .input-item textarea {
        height: 50px;
        margin-bottom: 10px;
        padding: 10px 20px;
    }

    .input-item button {
        height: 50px;
        margin-bottom: 30px;
    }
    .contact-right-text {
        text-align: left;
    }
    .contact-info ul li i {
        position: relative;
        top: 0;
        width: 50px;
        height: 50px;
        line-height: 50px;
        border-radius: 50%;
        transform: inherit;
        font-size: 22px;
        margin: 0 auto;
        display: block;
        margin-bottom: 15px;
    }

    .service-intro-area {
        text-align: center;
        padding: 60px 0;
    }
    .service-intro-area::after {
        height: 100%;
        transform: translateY(-50%) skewY(0deg);
    }
    .service-intro-area h2 {
        font-size: 40px;
    }
    .service-intro-area p {
        font-size: 16px;
    }
    .se-intro-btn {
        text-align: center;
    }

    .left-shpe {
        width: 100%;
    }
    .left-shpe:after{
        display: none;
    }

    .contact-intro-text {
        margin-left: 0;
        position: relative;
        padding-left: 0;
        text-align: center;
    }
    .contact-intro-text > i {
        position: relative;
        top: 0;
        transform: inherit;
        margin-bottom: 30px;
        width: 50px;
        height: 50px;
        line-height: 50px;
        font-size: 16px;
    }
    .contact-intro-text p {
        font-size: 22px;
        margin-bottom: 0;
    }






    .fe2-content h2 {
        font-size: 50px;
        line-height: 50px;
    }
    .fe2-content p {
        font-size: 16px;
    }
    .fe2-content {
        padding-right: 0;
    }
    .fe2-left-img {
        position: relative;
        right: 0;
        bottom: -5px;
        width: 100%;
        margin-top: 30px;
        padding-left: 25px;
    }
    .feature-section-2 {
        padding-bottom: 0;
        padding-top: 60px;
    }


    .vehcle-input-item input {
        height: 50px;
    }
    .hero-content {
        text-align: center;
    }




    .contact-sl-active button.slick-next {
        left: 50%;
        right: auto;
        margin-left: 30px;
    }
    .contact-sl-active button {
        left: 50%;
        width: 40px;
        height: 40px;
        font-size: 30px;
        line-height: 42px;
        transform: translateX(-50%);
        margin-left: -30px;
        top: auto;
        bottom: -60px;
    }

    .widget-social-link a i {
        line-height: 33px;
    }

    .coupon-slide-active button.slick-next {
        left: 50%;
        right: auto;
        margin-left: 30px;
    }
    .coupon-slide-active button {
        top: auto;
        transform: translateX(-50%);
        left: 50%;
        width: 50px;
        height: 50px;
        font-size: 30px;
        line-height: 54px;
        bottom: -60px;
        margin-left: -30px;
    }
    .coupon-item {
        margin-left: 0;
        margin-right: 0;
    }

    .header-area.sticky {
        left: 0;
        margin: auto;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 999;
        -webkit-animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
        animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
        padding: 0 0;
    }


}
 
/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.container {width:450px}
 

.logo img {
    max-height: 70px;
}


}