@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,600;1,700&display=swap');

/*
font-family: 'Barlow Semi Condensed', sans-serif;
 */

:root {
   --theme-color: #FEFA00;
   --text-color: #666666;
   --heading-color: #0E0E0E;
}
* {
   padding: 0;
   margin: 0;
}
html,
body {
   overflow-x: hidden;
   position: relative;
}
body {
   font-family: 'Barlow Semi Condensed', sans-serif;
   font-weight: normal;
   font-style: normal;
   color: var(--text-color);
   font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: 'Barlow Semi Condensed', sans-serif;
   color: var(--heading-color);
   margin-bottom: 15px;
   font-weight: 700;
}

h1 {font-size: 90px;}
h2 {font-size: 60px;}
h3 {font-size: 45px;}
h4 {font-size: 30px;}
h5 {font-size: 24px;}
h6 {font-size: 16px;}

p {
   line-height: 1.667;
   margin-bottom: 15px;
}
img {
   max-width: 100%;
   transition: 0.3s;
}
a {
   text-decoration: none;
}
a,
button {
   transition: 0.3s ease;
   color: inherit;
   outline: medium none;
}
a:hover{
   color: var(--theme-color);
}
button:focus,
input:focus,
textarea:focus {
   outline: 0;
}
ul {
   margin: 0px;
   padding: 0px;
}
li {
   list-style: none;
}
*::-moz-selection {
   background: #007acc;
   color: #fff;
   text-shadow: none;
}
*::selection {
   background: #007acc;
   color: #fff;
   text-shadow: none;
}

/* Input Placeholder */
.nice-select, input:not([type=submit]), textarea {
	width: 100%;
	padding: 15px;
	padding-left: 25px;
	transition: 0.3s ease;
	border: 1px solid #C0C0C0;
	background: #fff;
	color: var(--heading-color);
}
input:focus,
textarea:focus {
   box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
*::-moz-placeholder,
::placeholder {
   color: #6e6e6e;
   opacity: 1;
}

/* nice-select */
.nice-select {
	height: auto;
	float: none;
	border: transparent;
	font-size: inherit;
	line-height: inherit;
}
.nice-select .list{
   width: 100%;
}
.nice-select::after {
	height: 10px;
	width: 10px;
	border-color: #747474;
	border-width: 3px;
	right: 25px;
}
/*==ScrollUp CSS==*/
#scrollUp {
   background: var(--theme-color);
   border-radius: 3px;
   cursor: pointer;
   position: fixed;
   text-align: center;
   z-index: 998 !important;
   display: inline-flex;
   align-items: center;
   justify-content: center;
   color: #000;
   font-size: 24px;
   width: 1.8em;
   height: 1.8em;
   bottom: 2em;
   right: 1.5em;
   box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}
#scrollUp:hover{
   transform: translateY(-10%);
}

/* ======CONTAINER WIDTH===== */
.container {
   max-width: 1230px;
}
/* ====================================================== */

/* =======GLOBAL CSS========= */
.bg-attachment {
   background-position: center center;
   background-size: cover;
   background-repeat: no-repeat;
   background-color: #F9F9F9;
}
.absolute-bg{
   position: absolute;
   left: 0;
   top: 0;
   height: 100%;
   width: 100%;
   z-index: -2;
}
.absolute-img {
   position: absolute;
   left: 0;
   top: 0;
   z-index: -1;
   max-height: 100%;
}
.absolute-img.center-center,
.absolute-img.right-center,
.absolute-img.left-center {
   top: 50%;
   transform: translate(0, -50%);
}
.absolute-img.center-center{
   left: 50%;
   transform: translate(-50%, -50%);
}
.absolute-img.right-top,
.absolute-img.right-bottom,
.absolute-img.right-center {
   left: auto;
   right: 0;
}
.absolute-img.right-bottom,
.absolute-img.left-bottom {
   top: auto;
   bottom: 0;
}
.pulse-btn,
section,
header,
footer,
.position-relative{
   position: relative;
   z-index: 1;
}

.section-content h1,
.section-content h2,
.section-content h3,
.section-content h4{
   font-weight: 800;
}
.section-content h1,
.section-content h2{
   line-height: 1.1;
}

.white-content h1,
.white-content h2,
.white-content h3,
.white-content h4,
.white-content h5,
.white-content h6,
.white-content p{
   color: #fff;
}
.flex-1{
   flex: 1;
}
.section-overlay::before{
   content: '';
   top: 0;
   bottom: 0;
   height: 100%;
   width: 100%;
   z-index: -1;
   background: #000;
   opacity: .6;
   transition: .3s ease;
}
/* =======PRELOADER===== */
.preloader {
	position: fixed;
	width: 100%;
	height: 100%;
	background: #000000;
	z-index: 999999;
	display: flex;
	align-items: center;
	justify-content: center;
}
.lds-default {
   display: inline-block;
   position: relative;
   width: 80px;
   height: 80px;
 }
 .lds-default div {
   position: absolute;
   width: 6px;
   height: 6px;
   background: var(--theme-color);
   border-radius: 50%;
   animation: lds-default 1.2s linear infinite;
 }
 .lds-default div:nth-child(1) {
   animation-delay: 0s;
   top: 37px;
   left: 66px;
 }
 .lds-default div:nth-child(2) {
   animation-delay: -0.1s;
   top: 22px;
   left: 62px;
 }
 .lds-default div:nth-child(3) {
   animation-delay: -0.2s;
   top: 11px;
   left: 52px;
 }
 .lds-default div:nth-child(4) {
   animation-delay: -0.3s;
   top: 7px;
   left: 37px;
 }
 .lds-default div:nth-child(5) {
   animation-delay: -0.4s;
   top: 11px;
   left: 22px;
 }
 .lds-default div:nth-child(6) {
   animation-delay: -0.5s;
   top: 22px;
   left: 11px;
 }
 .lds-default div:nth-child(7) {
   animation-delay: -0.6s;
   top: 37px;
   left: 7px;
 }
 .lds-default div:nth-child(8) {
   animation-delay: -0.7s;
   top: 52px;
   left: 11px;
 }
 .lds-default div:nth-child(9) {
   animation-delay: -0.8s;
   top: 62px;
   left: 22px;
 }
 .lds-default div:nth-child(10) {
   animation-delay: -0.9s;
   top: 66px;
   left: 37px;
 }
 .lds-default div:nth-child(11) {
   animation-delay: -1s;
   top: 62px;
   left: 52px;
 }
 .lds-default div:nth-child(12) {
   animation-delay: -1.1s;
   top: 52px;
   left: 62px;
 }
 @keyframes lds-default {
   0%, 20%, 80%, 100% {
     transform: scale(1);
   }
   50% {
     transform: scale(1.5);
   }
 }
 
/* PRELOADER-CSS END */

/* header */
.header-area {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 999;
   transition: .3s ease;
 }
 .header-area.sticky {
	position: fixed;
	animation: slideInDown .5s ease;
}
 .header-top {
	display: flex;
	align-items: center;
	animation: fadeIn .5s ease;
	padding: 1em 0;
	padding-right: 2em;
}
 .header-area.sticky .header-top {
   display: none;
 }
 .header-top .select-language {
	width: auto;
	padding: 0;
	padding-right: 1em;
	background: none;
	color: #fff;
}
.header-top .select-language::after {
	border-color: #fff;
	border-width: 1px;
	height: 5px;
	width: 5px;
	right: 0;
}
.header-top .select-language .list {
	width: auto;
}
.header-top .select-language .option {
	color: #000;
}

.header-top .select-language .option {
  color: #000;
  width: auto;
}
.header-top .select-language .list {
  width: auto;
}
.contact-list li a {
  color: #fff;
  display: inline-block;
  padding-left: 4em;
  font-size: 16px;
}
.contact-list li a i {
	font-size: 1.2em;
}
.contact-list li {
  display: inline-block;
}
.contact-list li a:hover {
  color: var(--theme-color);
}
.contact-list li a i {
  margin-right: .5em;
}
.contact-list li:first-child {
  margin-right: auto;
}
.contact-list {
  display: flex;
}
.mainmenu li a {
   color: #fff;
   padding-right: 2em;
 }
.mainmenu li.active > a,
.mainmenu li.current > a,
.mainmenu li a:hover {
   color: var(--theme-color);
 }
 .mainmenu li {
   display: inline-block;
 }
 .sq-icon {
   color: #fff;
   background: #141414;
   height: 2.8em;
   width: 2.8em;
   display: inline-grid;
   place-content: center;
 }
 a.sq-icon:hover {
   background: var(--theme-color);
   color: var(--heading-color);
 }
 .site-btn {
	color: var(--heading-color);
	font-weight: 700;
	position: relative;
	z-index: 1;
	transition: .3s ease;
	border: 0;
	background: none;
	padding: .9em 1.8em;
	text-transform: uppercase;
	display: inline-flex;
   align-items: center;
   justify-content: center;
}
 .site-btn::after, .site-btn::before {
   content: '';
   position: absolute;
   left: 0;
   top: 0;
   right: 0;
   bottom: 0;
   z-index: -1;
   background: var(--theme-color);
   clip-path: polygon(0 0, calc(100% - .7em) 0, 100% 50%, calc(100% - .7em) 100%, 0 100%);
   transition: .3s ease;
 }
 .site-btn:hover {
   color: var(--heading-color);
 }
 .site-btn:before {
   opacity: .3;
 }
 .site-btn:after {
   right: 6%;
 }
 .site-btn:hover:after {
   right: 0%;
 }
 .header-btn a{
    margin-left: 5px;
    height: 2.8em;
    padding-top: 0;
    padding-bottom: 0;
 }
 .logo img {
	width: 130px;
	position: absolute;
}
.header-content::after,
.header-content::before {
	position: absolute;
	left: 0;
	top: 0;
   bottom: 0;
   right: 0;
	background: var(--theme-color);
	z-index: -1;
	content: '';
   clip-path: polygon(0 0, calc(100% - 1.6em) 0%, 100% 50%, calc(100% - 1.6em) 100%, 0 100%, 1.6em 50%);
}
.header-content::before {
   left: -100vw;
   right: 85%;
}
.header-content::after {
	background: var(--heading-color);
   left: 13.5%;
}
.header-content {
	padding: 1.2em 2em;
	padding-left: 0;
}

/* hero area */
.check-list li {
   color: #666666;
   position: relative;
   padding-left: 2em;
   margin-bottom: .7em;
 }
.white-content .check-list li {
   color: #fff;
 }
.check-list li:last-child {
   margin-bottom: 0;
 }
 .check-list li i,
 .check-list li img {
	position: absolute;
	left: 0;
   top: 1px;
	width: 1.3em;
	color: #77DF2A;
}
 .check-list li i{
	width: auto;
   font-size: 1.2em;
}
.bx-text {
	display: inline-block;
	background: var(--heading-color);
	letter-spacing: .32em;
	font-weight: 600;
	padding: .3em 1em;
}
.hero-area .section-img {
	margin-right: -40%;
	margin-left: -20%;
}
.hero-bg {
	height: 93%;
}
.hero-area::after,
.hero-area::before {
	width: 63%;
	right: 0;
	bottom: 0;
	height: 20%;
	background: var(--theme-color);
	z-index: -1;
	content: '';
	position: absolute;
	clip-path: polygon(8% 0, 100% 0, 100% 100%, 0 100%);
}
.hero-area::before {
   opacity: .6;
}
.hero-area::after {
	width: 58.5%;
}

/* PRODUCT */
.section-content .title {
	color: #898989;
	font-weight: 600;
	font-size: 20px;
	letter-spacing: .12em;
}
.product-link li {
   display: inline-block;
   background: #000;
   color: #fff;
   text-transform: uppercase;
   font-weight: 700;
   padding: 1em 2.2em;
   cursor: pointer;
   transition: .3s ease;
 }
 .product-link ul {
   display: flex;
   justify-content: center;
 }
 .product-link li.active, .product-link li.active:hover {
   background: var(--theme-color);
   color: var(--heading-color);
 }
 .product-link li + li {
   margin-left: -15px;
   clip-path: polygon(15px 0, 100% 0, 100% 100%, 0 100%);
 }
 .product-link li:hover {
   color: var(--theme-color);
 }
 .product-item {
	padding: 1.2em;
	z-index: 1;
	padding-bottom: 0 !important;
}
 .product-item:after,
 .product-item:before{
   content: '';
   position: absolute;
   z-index: -1;
   bottom: 28%;
   right: 0;
   left: 0;
   transition: .3s ease;
 } 
 .product-item::after {
	background: var(--theme-color);
	height: 12%;
	left: 25%;
	clip-path: polygon(8% 0, 100% 0, 100% 100%, 0 100%);
}
 .product-item::before {
	background: #F9F9F9;
	top: 0;
}
 .product-item:hover::before {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
 .product-item h4 span {
	color: #555555;
	letter-spacing: .05em;
	font-weight: 400;
	display: block;
	margin-top: .2em;
	font-size: .55em;
}
.product-item:hover .product-img img {
	transform: rotate(360deg);
}
.product-tab{
	display: none;
	animation: fadeEffect 1s ease;
}
.product-tab.active{
	display: block;
}
@keyframes fadeEffect{
	0%{opacity: 0;}
	100%{opacity: 1;}
}
.play-btn {
	background: var(--theme-color);
	display: inline-block;
	height: 5em;
	width: 5em;
	font-size: 24px;
	border-radius: 50%;
	display: inline-grid;
	place-content: center;
	color: var(--heading-color);
}
.play-btn:hover {
	color: var(--theme-color);
	background: var(--heading-color);
}
.play-icon {
	border-top: .7em solid transparent;
	border-bottom: .7em solid transparent;
	border-left: 1.3em solid;
	display: inline-block;
}
 .pulse-btn::before {
   content: "";
   display: inline-block;
   position: absolute;
   top: -2px;
   left: -2px;
   bottom: -2px;
   right: -2px;
   border-radius: inherit;
   background-color: var(--theme-color);
   opacity: 0.5;
   z-index: -1;
   -webkit-animation: btnIconRipple 2s cubic-bezier(0.23, 1, 0.32, 1) both
      infinite;
   animation: btnIconRipple 2s cubic-bezier(0.23, 1, 0.32, 1) both infinite;
}
@keyframes btnIconRipple {
   0% {
      border-width: 4px;
      -webkit-transform: scale(1);
      transform: scale(1);
   }

   80% {
      border-width: 1px;
      -webkit-transform: scale(1.4);
      transform: scale(1.4);
   }

   100% {
      opacity: 0;
   }
}

.theme-bx,
.gray-bx{
	background: #F7F7F7;
	font-weight: 700;
	color: var(--text-color);
   clip-path: polygon(0 0, calc(100% - .7em) 0, 100% 50%, calc(100% - .7em) 100%, 0 100%);
}
.theme-bx {
	background: var(--theme-color);
	color: var(--heading-color) !important;
	letter-spacing: 0;
}

/* about */
.title-icon {
	transform: translate(-25%);
}
.circle-icon {
   font-size: 35px;
   height: 2em;
   width: 2em;
   display: inline-grid;
   place-content: center;
   border-radius: 50%;
   color: var(--heading-color);
   background: var(--theme-color);
 }
 .about-contact {
   display: flex;
   align-items: center;
 }
 .about-contact h4 {
   flex: 1;
   font-weight: 400;
   margin-bottom: 0;
 }
 .about-contact h4 span {
   display: block;
   font-size: .65em;
   margin-bottom: .2em;
 }
 
.video-bx {
   padding: 3.3em;
   height: 41em;
   margin-left: -32%;
   display: grid;
   place-content: end;
 }
 .about-img {
	background: #000;
	display: grid;
	place-content: center;
	height: 40em;
	margin-top: -25%;
	margin-left: -25%;
}
.about-content {
   padding-left: 15%;
 }

 /* experience */
 .experience-area {
   padding-right: 48px;
 }
 .location-bx,
 .experience-item {
	border: 1px solid #E4E4E4;
	background: #fff;
  transition: .3s ease;
}
 .experience-inner {
	padding: 14%;
}
.location-bx::after,
.experience-item::after {
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: -1;
	content: '';
	border-bottom: 2em solid var(--theme-color);
	border-left: 3em solid transparent;
}
.location-bx:hover,
 .experience-item:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}
 .experience-item h2 {
   margin-bottom: 0;
   font-size: 70px;
 }
 .experience-item h6 {
	font-size: 18px;
	margin-bottom: 0;
	color: #222222;
}
 .offer-bx {
   background: #000;
   padding: 8%;
 }
 .offer-bx:after {
   content: '';
   position: absolute;
   right: 0;
   bottom: 0;
   border-bottom: 10em solid var(--theme-color);
   border-left: 15em solid transparent;
   z-index: -1;
 }
.offer-bx h4 span {
   color: var(--theme-color);
   font-size: 2em;
   font-weight: 800;
 }
 .offer-bx h4 {
   font-weight: 500;
 }
 .offer-bx p {
   font-size: 20px;
   color: #AFAFAF;
 }

 
 /* work */
 .timeline-item {
	padding-right: 18%;
	text-align: right;
}
.slick-arrow,
 .timeline-serial {
   position: absolute;
   right: 0;
   top: 0;
   height: 2.5em;
   width: 3.3em;
   display: grid;
   place-content: center;
   font-weight: 600;
 }
 .slick-arrow::after,
 .slick-arrow::before,
 .timeline-serial::after,
 .timeline-serial::before {
   content: '';
   position: absolute;
   left: 0;
   top: 0;
   bottom: 0;
   right: 0;
   background: var(--theme-color);
   z-index: -1;
   clip-path: polygon(0 0, calc(100% - .7em) 0, 100% 50%, calc(100% - .7em) 100%, 0 100%);
   transform: rotate(180deg);
 }
 .slick-arrow::before,
 .timeline-serial::before {
    transform: translate(-12%) rotate(180deg);
    opacity: .2;
 }
 .timeline-serial{
    transform: translate(50%);
 } 
 .timeline > .row > div:nth-child(2n - 1) {
   margin-left: auto;
 } 
 .timeline > .row > div:nth-child(2n - 1) .timeline-serial{
   transform: translate(-50%);
} 
.slick-arrow.slick-next::before,
.slick-arrow.slick-next::after,
.timeline > .row > div:nth-child(2n-1) .timeline-serial::before,
.timeline > .row > div:nth-child(2n-1) .timeline-serial::after {
	transform: rotate(0deg);
}
.slick-arrow.slick-next::before,
.timeline > .row > div:nth-child(2n-1) .timeline-serial::before {
	transform:  translate(12%) rotate(0deg);
}
 .timeline > .row > div:nth-child(2n - 1) .timeline-serial {
    left: 0;
    right: auto;
 }
 .timeline > .row > div:nth-child(2n - 1) .timeline-item {
    padding-right: 0;
	padding-left: 18%;
	text-align: left;
}
 .timeline-item h4 {
   font-weight: 700;
 }
 .timeline-item p {
    color: #353535;
 }
.timeline::before {
   top: 0;
   bottom: 0;
   left: 50%;
   transform: translate(-50%);
   background: var(--theme-color);
   content: '';
   position: absolute;
   width: 2px;
 }
 .timeline::after {
   content: '';
   position: absolute;
   bottom: 0;
   left: 50%;
   transform: translate(-50%);
   width: 1.5em;
   height: 1.5em;
   background: var(--theme-color);
 }

 /* repair */
 .repair-bg {
	width: 48%;
	right: 0;
	left: auto;
}
 .repair-icon {
	font-size: 45px;
	color: var(--heading-color);
	height: 2.5em;
	width: 2.2em;
	display: inline-grid;
	place-content: center;
	transform: translate(-50%);
}
 .repair-icon::after,
 .repair-icon::before {
   content: '';
   position: absolute;
   left: 0;
   top: 0;
   bottom: 0;
   right: 0;
   background: var(--theme-color);
   z-index: -1;
   clip-path: polygon(0 0, 100% 0, 100% calc(100% - .7em), 50% 100%, 0 calc(100% - .7em));
 }
 .repair-icon::before {
    transform: translateY(12%);
    opacity: .2;
 } 
 .repair-item::after {
	position: absolute;
	right: 0;
	bottom: 0;
	border-bottom: 3em solid var(--theme-color);
	border-left: 6em solid transparent;
	content: '';
}
 .repair-item {
	border: 1px solid #E3E3E3;
	padding: 2.2em;
   padding-bottom: calc(2.2em - 15px);
	padding-left: 0;
   background: #fff;
}
 div:nth-child(2n) > .repair-item {
    transform: translate(30%);
}

/* cta */
.brand-area:after,
.shop-item .section-img::after,
.about-area::after,
.cta-area::after {
	position: absolute;
	right: 42%;
	top: 35%;
	width: 8%;
	background: var(--theme-color);
	z-index: -1;
	content: '';
	height: 100vw;
	transform: rotate(55deg);
	transform-origin: 100% 0;
}
.shop-item .section-img::after,
.cta-area::after {
	right: 10%;
	top: 0;
	transform: rotate(-40deg);
	transform-origin: 0 0;
}
.cta-area h2 {
	font-style: italic;
	font-weight: 700;
	font-size: 50px;
}


/* find dealer */
.float-form input:not([type="submit"]) {
	width: 65%;
	margin-right: 2%;
}
.float-form .submit-btn {
   width: 33%;
 }
 .submit-btn {
   padding: 0;
 }
 .submit-btn input {
	padding: .9em 1.8em;
	text-transform: inherit;
	font-weight: inherit;
	background: inherit;
	border: 0;
}
 .float-form form {
	display: flex;
	flex-wrap: wrap;
}
.find-dealer-area {
	padding-top: 14%;
}
.find-dealer-content::before {
	content: '';
	position: absolute;
	z-index: -1;
	left: 0;
	bottom: 0;
	width: 70%;
	background: #000;
	top: 0;
	clip-path: polygon(0 0, 80% 0, 100% 100%, 0 100%);
}
.find-dealer-content::after {
	content: '';
	position: absolute;
	z-index: -1;
	left: 58.5%;
	top: 5%;
	bottom: 0;
	width: 15.5%;
	background: var(--theme-color);
	clip-path: polygon(0 0, 20% 0, 100% 100%, 80% 100%);
}
.find-dealer-area h2 {
	font-weight: 700;
}

/* shop area */
.ratting-star li {
   color: #FEDD00;
   display: inline-block;
   margin: 1px;
   font-size: 14px;
 }
 .ratting-star-wrap {
   display: flex;
   font-size: 14px;
   align-items: center;
 }
 .ratting-star-wrap span {
   color: #939393;
   font-weight: 500;
   font-size: 14px;
   margin-left: .8em;
 } 
.shop-item {
   padding-top: 2em;
   padding-left: 2em;
 }
.shop-item::after{
   content: '';
   position: absolute;
   left: 0;
   right: 0;
   bottom: 30px;  
   top: 0;
   background: #fff;
   z-index: -2;
 }
 .shop-item .section-img {
	right: 0;
	left: auto;
	height: calc(100% - 30px);
	width: 42%;
   overflow: hidden;
	top: 0;
	padding-top: inherit;
}
.shop-item .section-img img {
  max-width: none;
  width: 150%;
}
.shop-item .section-img::after {
  width: 38%;
  right: 60%;
  transform: rotate(-25deg);
}

/* brand */
.brand-area::after {
	top: 0;
	right: 67%;
	transform: rotate(40deg);
}
.brand-item {
   background: #fff;
   box-shadow: 0px 0px 29px 0px rgba(0, 0, 0, 0.03);
   text-align: center;
   border: 1px solid #E3E3E3;
   transition: .3s ease;
 }
.brand-item:hover {
   box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.08);
 }
 div:nth-child(3n - 1) > .brand-item {
   transform: translateY(30%);
 }
 .brand-content > .absolute-img {
	right: -11%;
	width: 60%;
}
/* collection */
.doted-list li {
	color: #939393;
	padding-left: 1.5em;
	position: relative;
	margin-bottom: .5em;
	text-align: left;
}
 .doted-list li:before {
   content: '';
   position: absolute;
   left: 0;
   top: 50%;
   height: .8em;
   width: .8em;
   border: .2em solid var(--theme-color);
   border-radius: 50%;
   transform: translateY(-50%);
 }
 .doted-list li:last-child {
   margin-bottom: 0;
 }
 .collection-slide {
	padding: .5em;
	height: 30em;
	display: flex !important;
	align-items: flex-end;
	transform: scale(.75);
	transition: .3s ease;
	overflow: hidden;
	padding-right: 1.5em;
}
.collection-slide.slick-center{   
	transform: scale(1);
}
.promotion-bx,
 .collection-slide .section-content {
   position: relative;
   z-index: 1;
   padding: 2em;
   padding-right: 6em;
	transition: .3s ease;
 }
 .collection-slide .section-content {
   opacity: 0;
   pointer-events: none;
 }
 .collection-slide.slick-center .section-content {
   opacity: 1;
   pointer-events: all;
 }
 .promotion-bx::after,
 .collection-slide .section-content::after {
	content: '';
	position: absolute;
	z-index: -1;
	background: #000;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	clip-path: polygon(0 0, 80% 0, 100% 100%, 0 100%);
}
.promotion-bx::after{
  background: #fff;
}
.promotion-bx::before,
.collection-slide .section-content::before {
	position: absolute;
	left: 83%;
	content: '';
	z-index: -1;
	top: 5%;
	bottom: 0;
	background: var(--theme-color);
	width: 22%;
	clip-path: polygon(0 0, 15% 0, 100% 100%, 85% 100%);
}
.collection-area .container{
   max-width: 1740px;
}
.slick-arrow {
	background: none;
	border: 0;
	z-index: 4;
	color: #000;
	font-size: 20px;
	left: -8%;
	top: 50%;
	transform: translateY(-50%);
	height: 2.8em;
	width: 2.8em;
}
.slick-arrow.slick-next {
   right: -8%;
   left: auto;
}
.collection-slider .slick-arrow{
   left: 27.5%;
}
.collection-slider .slick-arrow.slick-next{
   right: 27.5%;
   left: auto;
}

/* contact */
.contact-area {
	padding-top: 260px;
	margin-top: -140px;
}
.contact-area .absolute-img {
	width: 25%;
	max-height: none;
}
.contact-area::after {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 45%;
	background: var(--theme-color);
	content: '';
	z-index: -2;
	clip-path: polygon(0 0, 100% 0, 100% 100%, 45% 100%);
}

.contact-form input:not([type=submit]), .contact-form textarea {
   background: #000;
   border-color: #5F5F5F;
   color: #fff;
 }
 .contact-content p {
    color: #B5B5B5;
 }
 .contact-form input:focus, .contact-form textarea:focus {
   border-color: var(--theme-color);
 }
 .time-list li {
   font-weight: 500;
   margin-bottom: .3em;
 }
.time-list li:last-child {
   margin-bottom: 0;
 }
 .white-content .time-list li {
   color: #fff;
 }
 .time-list li span {
   width: 25%;
   display: inline-block;
 }
 .location-bx {
	transform: translateY(50%);
}
 .location-bx-inner {
	padding: 10%;
}
.location-list li i {
  font-size: 1.2em;
  position: absolute;
  left: 0;
  top: 0;
}
.location-list li {
  position: relative;
  padding-left: 1.5em;
  margin-bottom: .5em;
}
.location-list li:last-child {
  margin-bottom: 0;
}


/* testimony */
.testimony-slide > i {
	font-size: 30px;
	color: #fff;
	background: #000;
	height: 3em;
	width: 3em;
	border-radius: 50%;
	display: inline-grid;
	place-content: center;
}
.testimony-slide h4 {
	font-weight: 600;
	font-size: 28px;
}
.white-shape-bx {
	display: inline-block;
	background: #ffff;
	padding: .3em 1em;
  clip-path: polygon(.7em 0, 100% 0, 100% 100%, .7em 100%, 0 50%);
}
.testimony-slide .white-shape-bx {
  margin-left: 25px;
}
.testimony-slide .ratting-star li{
  font-size: 12px;
}
.testimony-slider {
  background: var(--theme-color);
  padding: 4em 9em;
}
.testimony-slider-nav {
	border: 1px solid #E3E3E3;
	padding: 4em 2.5em;
	position: absolute;
	left: 0;
	top: 0;
	background: #fff;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
}
.testimony-slider-nav-next{
  left: auto;
  right: 0;
}
.shaped-btn {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: .12em;
  position: relative;
  z-index: 1;
  padding: .8em 2em;
  color: var(--heading-color);
  cursor: pointer;
  transition: .3s ease;
}
.shaped-btn::after,
.shaped-btn::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: var(--theme-color);
  clip-path: polygon(0 0, 90% 0, 100% 100%, 0 100%);
  transition: inherit;
}
.shaped-btn::before {
  opacity: .2;
}
.shaped-btn::after {
  right: 10%;
}
.shaped-btn:hover::after {
  right: 0;
}
.testimony-slider-nav .shaped-btn {
  position: absolute;
  bottom: 0;
  left: 0;
}
.shaped-btn-alt:after, .shaped-btn-alt:before {
  transform: rotate(180deg);
}
.shaped-btn-alt::after {
  right: 0;
  left: 10%;
}
.testimony-slider-nav .shaped-btn-alt {
  right: 0;
  left: auto;
}
.shaped-btn-alt:hover::after {
  left: 0;
}
.client-info .client-img {
	display: inline-block;
}

/* promotion */
.promotion-bx {
	padding: 7%;
	padding-right: 22%;
	transform: translateY(50%);
}
.promotion-bx:after {
  clip-path: polygon(0 0, 85% 0, 100% 100%, 0 100%);
}
.promotion-bx::before {
  width: 17%;
  left: 87.5%;
}
.promotion-area {
	height: 700px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
.promotion-bx h3 {
	font-size: 35px;
	font-weight: 700;
}

/* footer-area */
.footer-area{
  padding-top: 250px;
}

.social-list li a {
  background: var(--theme-color);
  color: var(--heading-color);
  height: 3em;
  width: 3em;
  display: inline-grid;
  place-content: center;
}
.social-list li {
	display: inline-block;
	margin: 2px;
	margin-bottom: 5px;
}
.social-list li a:hover {
  background: #fff;
}
.footer-area .section-content p:first-child {
	color: #B5B5B5;
}


 
/* humberger menu */
.humberger-bar.active {
  position: fixed;
  top: 15px;
  transform: translateY(0);
}
.humberger-bar {
  height: 30px;
  width: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  z-index: 10000;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.humberger-bar span {
	height: 2px;
	width: 25px;
	background: #fff;
	display: block;
	margin-bottom: 7px;
	border-radius: 5px;
	transition: 0.3s ease;
}
.humberger-bar span:last-child {
  margin-bottom: 0px;
}
.humberger-bar:hover span {
	background: var(--theme-color);
}
.humberger-bar.active span {
  background: #000327;
}
.humberger-bar.active:hover span {
  background: var(--theme-color);
}
.humberger-bar.active span:first-child {
  transform: translate(0, 8px) rotate(45deg);
}
.humberger-bar.active span:nth-child(2) {
  transform: translate(50%);
  opacity: 0;
}
.humberger-bar.active span:last-child {
  transform: translate(0, -10px) rotate(-45deg);
}

.resonsive-slide {
  width: 350px;
  height: 100vh;
  background: #fff;
  padding: 30px 20px;
  text-align: center;
  padding-top: 20px;
  position: fixed;
  top: 0;
  right: 0;
  margin-right: -350px;
  transition: 0.3s ease-in-out;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
  opacity: 0;
}
.resonsive-slide.active {
  margin-right: 0px;
  opacity: 1;
}
.responsive-menu ul li a {
 color: #000327;
 font-weight: 700;
 font-size: 14px;
 text-transform: uppercase;
 display: block;
 padding: 8px;
 font-family: 'Calvier', sans-serif;
}
.responsive-menu ul li a:hover,
.responsive-menu ul li.active > a,
.responsive-menu ul li.current > a {
  color: var(--theme-color);
}
.responsive-menu {
  margin-bottom: 20px;
}
.responsive-menu > img {
 max-width: 60px;
 margin-bottom: 20px;
}
.responsive-others {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.responsive-btn a {
  display: block;
  margin-bottom: 15px;
  font-size: 16px;
  padding: 10px;
}
.responsive-links .copyright-text {
  font-size: 16px;
  color: #000;
}
.responsive-menu .submenu li a:hover {
  color: #fff;
}

.responsive-menu .submenu li a {
  padding: 0.5em 1em;
  text-align: center;
}
.responsive-menu ul li.has-child > a::after {
  content: "\f107";
  font-family: "Font Awesome 5 Pro";
  display: inline-block;
  margin-left: 5px;
  transition: 0.3s ease;
}
.responsive-menu ul li.has-child.active > a::after {
  transform: rotate(-180deg);
}
.resonsive-slide-overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  background: #000;
  top: 0;
  left: 0;
  z-index: 9998;
  opacity: 0.5;
}
.resonsive-slide-overlay {
  height: 100vh;
  width: 100%;
  position: fixed;
  background: #000;
  top: 0;
  left: 0;
  z-index: 9998;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
}
.resonsive-slide-overlay.active {
  opacity: 0.5;
  pointer-events: all;
}
.responsive-others .copyright-text {
  color: #000;
  font-size: 12px;
}
.responsive-others .copyright-text a:hover {
  color: #ffffff;
}
.resposive-btns .social-list li a:hover {
	background: var(--heading-color);
	color: var(--theme-color);
}
/* humberger menu end */