/* Normal desktop :1200px. xl*/
@media (min-width: 1200px) and (max-width: 1500px) {
   .container {
      max-width: 1160px;
   }
   .header-address {
      margin-left: 0;
   }
   .logo {
      padding: 5px 0;
      margin-left: 0;
   }
   .logo a img {
      max-width: 100%;
   }
   .mainmenu ul li a {
      font-size: 14px;
      padding: 5px 10px;
      margin: 5px 0;
   }
   .mainmenu .side-btn {
      display: none;
   }
   .mainmenu {
      display: flex;
      align-items: center;
      justify-content: flex-end;
   }
   .hero-content h2 {
      font-size: 55px;
   }
   .side-btn {
      margin-top: 20px;
   }
   .why-choose-img h4 {
      font-size: 29px;
   }
   .review-main-content {
      padding: 51.5px 125px;
   }
   .review-left-content {
      padding: 50px 30px;
   }
   .review-left-content h4 {
      margin-bottom: 35px;
   }
   .experience-item {
      margin-bottom: 20px;
   }
   .work-text-wrap {
      width: 65%;
   }
   .section-title h3 {
      font-size: 45px;
   }
   .offer-slide-content {
      width: 90%;
   }
   .review-img img {
      width: 100%;
   }
   .work-text-wrap {
      width: 100%;
      right: 0;
      bottom: -85px;
   }
   .work-text {
      height: 120px;
      width: 100%;
      text-align: center;
      justify-content: center;
      padding: 20px;
   }
   .work-item {
      margin-bottom: 40px;
   }
   .work-text h5 {
      font-size: 26px;
   }
   .browse-img img {
      width: 100%;
   }
   .news-img img {
      width: 100%;
   }
   .browse-tab-menu ul li a.nav-link {
      padding: 20px 15px;
   }
   .product-active-slider .shop-price h5 {
      font-size: 35px;
   }
   .abolute-img {
      width: 490px;
   }
   .subcribe-form .side-btn {
      margin-top: 0;
   }
   .product-active-slider,
   .shop-active-slider,
   .location-active-slider {
      margin-bottom: 110px;
   }
   .product-active-slider .slick-arrow,
   .shop-active-slider  .slick-arrow,
   .location-active-slider  .slick-arrow {
      bottom: -110px;
      top: auto;
      left: calc(50% - 90px);
   }
   .product-active-slider .slick-next.slick-arrow,
   .shop-active-slider .slick-next.slick-arrow,
   .location-active-slider .slick-next.slick-arrow {
     left: auto;
      right: calc(50% - 90px);
   }
}

/* Normal desktop :992px. lg*/
@media (min-width: 992px) and (max-width: 1200px) {
   .container {
      max-width: 960px;
   }
   .header-address {
      margin-left: 0;
   }
   .logo {
      padding: 15px 0;
      margin-left: 0;
   }
   .logo a img {
      max-width: 100%;
   }
   .mainmenu ul li a {
      font-size: 14px;
      padding: 5px 10px;
      margin: 5px 0;
   }
   .mainmenu .side-btn {
      display: none;
   }
   .mainmenu {
      display: flex;
      align-items: center;
      justify-content: flex-end;
   }
   .hero-content h2 {
      font-size: 60px;
      margin-bottom: 10px;
   }
   p {
      font-size: 18px;
      line-height: 1.4;
   }
   .side-btn {
      font-size: 16px;
      padding: 15px 25px;
   }
   .side-btn {
      margin-top: 0px;
   }
   .subcribe-form button[type="submit"] {
      font-size: 18px;
      height: 70px;
   }
   .subcribe-form input {
      height: 70px;
   }
   .hero-area {
      height: 550px;
   }
   .section-title h3 {
      font-size: 45px;
      line-height: 1.1;
   }
   .section-title h5 {
      font-size: 17px;
   }
   .form-title h4 {
      font-size: 22px;
      margin-bottom: 18px;
   }
   .request-form input,
   .request-form textarea {
      margin-bottom: 10px;
      padding: 12px 20px;
   }
   .request-form input::placeholder,
   .request-form textarea::placeholder {
      font-size: 14px;
   }
   .form-wrapper {
      padding: 40px 25px;
   }
   .request-area {
      padding-bottom: 70px;
   }
   .offer-box img {
      width: 100%;
   }
   .offer-slide-content {
      width: 70%;
      padding: 25px 0px;
      padding-left: 25px;
   }
   .offer-slide-content .offer-text {
      margin-bottom: 0px;
   }
   .offer-slide-content ul li a {
      font-size: 16px;
      padding: 5px;
   }
   .why-choose-img h4 {
      font-size: 18px;
   }
   .why-choose-list ul li {
      font-size: 16px;
   }
   .coupon-content .logo {
      margin-bottom: 0;
   }
   .review-left-content h4, .experience-item {
      margin-bottom: 20px;
   }
   .review-main-content {
      padding: 93px 125px;
   }
   .review-area {
      padding: 100px 0;
   }
   .work-text-wrap {
      width: 65%;
      bottom: -70px;
   }
   .section-title h3 {
      font-size: 30px;
   }
   .coupon-content h4 {
      font-size: 20px;
   }

   .coupon-content .logo {
      padding-top: 60px;
   }
   .coupon-btn a {
      font-size: 20px;
   }
   .work-item {
      min-height: 320px;
   }
   .client-slider-active::before {
      font-size: 100px;
      left: 26px;
   }
   .about-service-area {
      padding: 70px 0;
   }
   .about-service-content {
      padding: 30px 45px;
      padding-right: 45px;
   }
   .about-service-text h2 {
      font-size: 50px;
   }
   .review-main-content {
      padding: 90px 30px;
   }
   .about-service-text p {
      margin-bottom: 15px;
   }
   .about-play-service .play-btn {
      height: 100px;
      width: 100px;
      font-size: 30px;
      line-height: 95px;
      margin-bottom: 15px;
   }
   .about-service-area .col-lg-5.justify-content-end {
      justify-content: center !important;
   }
   .browse-tab-menu ul li a.nav-link {
      font-size: 16px;
      padding: 18px 25px;
   }
   .work-text h5 {
      font-size: 18px;
   }
   .browse-img img {
      width: 100%;
   }
   .browse-service-area {
      padding: 80px 0;
   }
   .shop-area {
      padding: 70px 0;
   }
   .more-service-left .section-title h3,
   .more-service-right .section-title h3 {
      font-size: 50px;
   }
   .more-service-area .section-title p {
      font-size: 22px;
   }
   .more-service-right {
      padding-top: 100px;
   }
   .product-slider-area,
   .membership-area,
   .shop-slider-area,
   .cta-area,
   .location-area,
   .brand-area {
      padding: 70px 0;
   }
   .product-slider-area .section-title,
   .shop-slider-area .section-title {
      margin-bottom: 20px;
   }
   .shop-slider-text .section-title {
      padding-top: 70px;
   }
   .product-active-slider .shop-price h5 {
      font-size: 30px;
   }
   .shop-price span {
      font-size: 16px;
   }
   .membership-box .section-title {
      padding-left: 30px;
   }
   .member-ship-content .section-title h3 {
      font-size: 44px;
      margin-bottom: 15px;
   }
   .absolute-text h3 {
      font-size: 43px;
   }
   .member-ship-content {
      padding-top: 90px;
   }
   .absolute-text {
      top: 20px;
   }
   .abolute-img {
      width: 450px;
   }
   .absolute-text {
      right: 6px;
   }
   .news-img img {
      width: 100%;
   }
   .news-text {
      padding: 0 20px;
   }
   .location-info {
      padding: 25px 40px;
      padding-right: 40px;
   }
   .newletter-text h3 {
      font-size: 42px;
   }
   .newletter-content {
      padding: 40px 0;
   }
   .contact-area .section-title h3 {
      font-size: 40px;
      margin-bottom: 5px;
   }
   .done-item {
      margin-bottom: 15px;
   }
   input,
   textarea {
      padding: 15px 30px;
   }
   .contact-form-btn {
      margin-bottom: 0;
      margin-top: 20px;
   }
   .footer-newsletter .section-title h3 {
      font-size: 45px;
   }
   .footer-logo img {
      width: auto;
   }
   .footer-logo {
      padding: 25px 20px;
   }
   .footer-logo p {
      margin-top: 15px;
   }
   .copyright-text {
      padding: 20px 0;
   }
   .footer-menu {
      padding-top: 30px;
   }
   .footer-contact {
      padding: 25px 0;
      padding-right: 10px;
   }
   .footer-menu ul li a {
      display: block;
      font-size: 18px;
      font-weight: 700;
      color: #a4a4a4;
      padding: 7px 0;
   }
   .footer-contact-item a {
      margin-top: 0;
      font-size: 14px;
   }
   .footer-contact-item i {
      margin-right: 15px;
   }
   .footer-contact-item i {
      font-size: 25px;
      padding-top: 15px;
   }
   .contact-area {
      background-size: 0;
   }
   .location-info P {
      font-size: 18px;
   }
   .location-info P i {
      font-size: 16px;
      height: 45px;
      width: 45px;
      line-height: 45px;
      margin: 5px 0;
      margin-right: 15px;
   }
   .location-map {
      height: 350px;
   }

   .mainmenu ul li {
      padding: 0 8px;
   }
   .mainmenu ul li a {
      padding: 5px 5px;
   }

   .offer-slide-content {
      width: 80%;
      padding: 15px 0px;
      padding-left: 15px;
   }
   .offer-text h5 {
      font-size: 20px;
   }
   .get-start-btn.side-btn {
      padding: 15px 45px;
   }
   .work-area .side-btn {
      margin-top: 50px;
   }
   p {
      font-size: 16px;
   }
   .browse-text .side-btn {
      padding: 12px 50px;
      margin-top: 15px;
   }
   .shop-price h5 {
      font-size: 24px;
   }
   .shop-btn .side-btn {
      font-size: 16px;
      padding: 15px 70px;
   }
   .more-service-right {
      padding-top: 0;
   }

   .more-service-left .section-title h3,
   .more-service-right .section-title h3 {
      font-size: 35px;
   }
   .section-title h3 {
      font-size: 40px;
   }
   .counter-experience h3 {
      font-size: 40px;
   }
   .counter-experience span {
      font-size: 14px;
   }
   .review-main-content h3 {
      font-size: 40px;
   }
   .review-main-content {
      padding: 72px 30px;
   }
   .review-img img {
      width: 100%;
   }
   .review-left-content h4 {
      font-size: 30px;
   }
   .review-main-content {
      padding: 46px 20px;
   }
   .member-ship-content .section-title p {
      font-size: 18px;
   }
   .member-ship-content .section-title h3 {
      font-size: 36px;
   }
   .membership-area .right-img .section-title {
      padding-right: 30px;
      padding-left: 70px;
   }
   .right-img .absolute-text {
      right: auto;
      left: 110px;
   }
   .absolute-text {
      right: auto;
      left: 80px;
   }
   .membership-list ul li {
      font-size: 18px;
   }
   .membership-box .section-title {
      padding-right: 60px;
   }
   .shop-slider-text {
      padding-right: 30px;
   }

   .shop-slider-text .section-title p {
      font-size: 18px;
   }
   .slider-style-nav .slick-arrow.slick-next {
      right: 0;
   }
   .slider-style-nav .slick-arrow {
      left: 0;
      z-index: 1;
   }
   .news-text .section-title h3 {
      font-size: 33px;
   }
   .news-text .section-title .side-btn {
      padding: 15px 45px;
   }
   .footer-content {
      padding: 0;
   }
   .footer-logo p {
      font-size: 16px;
   }
   .footer-menu ul li a {
      font-size: 16px;
   }
   .copyright-text p {
      font-size: 15px;
   }
   .qoute-btn a {
      font-size: 16px;
   }
   .request-form {
      margin-top: -45px;
      padding-left: 0;
      margin-right: 0;
   }
   .request-bg-shape {
      left: -55px;
   }
   .client-info h3 {
      font-size: 30px;
   }
   .client-item-wrapper {
      padding: 30px 20px;
   }
   .client-slider-active .slick-arrow button {
      font-size: 20px;
      height: 70px;
      width: 70px;
      line-height: 70px;
   }
   .review-left-content {
      padding: 30px 20px;
   }
   .contact-btn {
      padding-top: 15px;
   }
   .work-text-wrap {
      width: 100%;
      right: 0;
      bottom: -85px;
   }
   .work-text {
      height: 70px;
      width: 100%;
      text-align: center;
      justify-content: center;
      padding: 0;
   }
   .work-item {
      min-height: 220px;
      margin-bottom: 40px;
   }
   .work-text h5 {
      font-size: 20px;
   }
   .browse-img {
      box-shadow: 0px 0px 32px 0px rgba(2, 2, 2, 0.15);
      margin-right: 0;
   }
   .browse-text .section-title h3 {
      font-size: 35px;
   }

   .product-active-slider,
   .shop-active-slider,
   .location-active-slider {
      margin-bottom: 110px;
   }
   .product-active-slider .slick-arrow,
   .shop-active-slider  .slick-arrow,
   .location-active-slider  .slick-arrow {
      bottom: -110px;
      top: auto;
      left: calc(50% - 90px);
   }
   .product-active-slider .slick-next.slick-arrow,
   .shop-active-slider .slick-next.slick-arrow,
   .location-active-slider .slick-next.slick-arrow {
     left: auto;
      right: calc(50% - 90px);
   }
   .social-link a {
      height: 50px;
      width: 50px;
      line-height: 45px;
      font-size: 20px;
   }
   .request-form .nice-select.right-bordered {
      font-size: 15px;
      padding-left: 20px;
   }

}

/* Tablet desktop :768px. md*/
@media (min-width: 768px) and (max-width: 991px) {
   .header-info,
   .header-warning,
   .mainmenu ul li::after,
   .request-bg-shape {
      display: none;
   }
   .logo {
      margin-left: 0;
   }
   .mainmenu.active ul li a:hover,
   .mainmenu.active ul li.current a {
      color: var(--theme-color);
   }
   .mainmenu ul li {
      padding: 0;
   }
   .mainmenu ul li a {
      font-size: 15px;
      padding: 0 8px;
      border: none;
   }
   .mainmenu ul {
      display: inline-block;
      padding-left: 0;
      padding-right: 0;
   }
   .logo {
      padding: 15px 0;
   }
   .logo img {
      width: 100%;
   }
   .mainmenu {
      width: 100%;
      text-align: right;
   }
   .hero-area {
      padding-top: 150px;
   }
   .section-title h3 {
      font-size: 28px;
   }
   .section-title h5 {
      font-size: 16px;
   }
   p {
      font-size: 16px;
      line-height: 1.5;
   }
   .side-btn,
   .shop-btn .side-btn {
      font-size: 15px;
      padding: 10px 30px;
   }
   .side-btn.mt-80 {
      margin-top: 10px;
   }
   .form-title h4 {
      font-size: 20px;
   }
   .form-title span {
      font-size: 12px;
   }
   input,
   textarea {
      padding: 15px 20px;
      font-size: 14px;
   }
   .form-wrapper {
      padding: 35px 30px;
   }
   .offer-slide-content {
      padding: 15px 0px;
      padding-left: 15px;
   }
   .offer-slide-content {
      width: 100%;
   }
   .offer-box.mb-35 {
      margin-bottom: 20px;
      height: 300px;
   }
   .offer-text {
      padding: 5px 15px;
   }
   .offer-text span {
      font-size: 18px;
   }
   .offer-slide-content ul li a {
      font-size: 16px;
      padding: 4px;
      padding-left: 0;
   }
   .offer-slide-content .offer-text {
      margin-bottom: 0;
   }
   .offer-text h5 {
      font-size: 25px;
      margin-bottom: 5px;
   }
   .offer-text h5 {
      color: var(--white);
      font-size: 25px;
   }
   .offer-box img {
      width: 100%;
   }
   .get-start-btn.side-btn,
   .news-text .section-title .side-btn {
      font-size: 14px;
      padding: 12px 25px;
   }
   .why-choose-content {
      padding-right: 30px;
   }
   .why-choose-list ul li {
      font-size: 14px;
      margin-bottom: 10px;
      padding-left: 15px;
      width: 100%;
      max-width: 100%;
   }
   .why-choose-list ul li span {
      font-size: 15px;
      margin: 10px 0;
      height: 35px;
      width: 35px;
      line-height: 36px;
      margin-right: 15px;
   }
   .section-title.mb-35 {
      margin-bottom: 20px;
   }
   .why-choose-img h4 {
      font-size: 16px;
      padding: 22px 0;
   }
   .logo a {
      margin-bottom: 0;
   }
   .contact-info {
      position: relative;
      top: 0;
      right: 0;
   }
   .coupon-content .logo {
      margin-bottom: 0;
      padding-top: 35px;
      padding-bottom: 10px;
   }
   .coupon-content h4 {
      font-size: 23px;
   }
   .coupon-content p {
      font-size: 16px;
   }
   .coupon-btn a {
      font-size: 15px;
      padding: 14px 0;
   }
   .contact-info::after {
      top: -70px;
      transform: rotate(7deg) skew(-25deg);
   }
   .contact-info span {
      font-size: 15px;
   }
   .contact-info h5 {
      font-size: 16px;
   }
   .client-info h3 {
      font-size: 22px;
   }
   .client-item-wrapper {
      padding: 30px 20px;
      position: relative;
   }
   .review-left-content {
      padding: 40px 30px;
   }
   .review-left-content h4 {
      font-size: 35px;
      margin-bottom: 15px;
      text-align: left;
   }
   .counter-experience h3 {
      font-size: 40px;
   }
   .experience-item img {
      margin-right: 20px;
   }
   .experience-item {
      margin-bottom: 15px;
   }
   .contact-btn a {
      font-size: 16px;
      padding: 16px 0;
   }
   .review-main-content p {
      margin-bottom: 20px;
   }
   .review-main-content {
      padding-top: 40px;
      padding-bottom: 40px;
   }
   .review-left-wrapper {
      margin-bottom: 40px;
   }
   .review-main-content h3 {
      font-size: 50px;
   }
   .work-item {
      min-height: 200px;
   }
   .work-text h5 {
      font-size: 18px;
   }
   .work-text span {
      font-size: 11px;
      font-weight: 600;
   }
   .about-service-content {
      padding: 30px 20px;
      padding-right: 20px;
      margin-bottom: 0;
   }
   .about-service-img img {
      margin-bottom: 0;
      max-width: 108px;
   }
   .about-service-text span {
      font-size: 16px;
      margin-bottom: 10px;
   }
   .about-service-text h2 {
      font-size: 40px;
   }
   .about-service-list ul li a {
      font-size: 14px;
      padding: 5px 13px;
   }

   .about-play-service .play-btn {
      height: 100px;
      width: 100px;
      font-size: 22px;
      line-height: 95px;
   }
   .section-title.mb-50 {
      margin-bottom: 20px;
   }
   .browse-tab-menu ul li a.nav-link {
      font-size: 12px;
      padding: 15px 20px;
   }
   .browse-tab-menu ul {
      padding: 20px 15px;
   }
   .browse-img img {
      width: 100%;
   }
   .browse-img {
      margin-right: 0;
   }
   .browser-tab-wrapper {
      margin-right: 0;
   }
   .browse-text .section-title h3 {
      margin-bottom: 5px;
   }
   .browse-text .section-title p {
      font-size: 14px;
   }
   .browse-text .side-btn {
      padding: 15px 51px;
   }
   .shop-price h5,
   .product-active-slider .shop-price h5 {
      font-size: 18px;
   }
   .shop-price span {
      font-size: 14px;
      color: #515151;
      font-weight: 600;
   }
   .more-service-left {
      padding-top: 30px;
      padding-bottom: 20px;
   }
   .more-service-left .section-title h3 {
      font-size: 30px;
   }
   .more-service-area .section-title p {
      font-size: 16px;
      margin-bottom: 10px;
   }
   .more-service-right .section-title h3 {
      font-size: 30px;
   }
   .more-service-right {
      padding-top: 30px;
      padding-bottom: 20px;
   }
   .member-ship-content .section-title h3 {
      font-size: 30px;
      margin-bottom: 5px;
   }
   .member-ship-content .section-title p {
      font-size: 18px;
      line-height: 1.5;
   }
   .member-ship-content {
      padding: 65px 20px;
   }
   .section-title.pl-90 {
      padding-left: 10px;
   }
   .membership-list ul li {
      font-size: 16px;
      padding-left: 30px;
      margin-bottom: 8px;
   }
   .membership-list ul li::before {
      font-size: 16px;
      line-height: 22px;
      margin-top: -10px;
   }
   .membership-list {
      position: relative;
      padding-left: 30px;
   }
   .side-btn.mt-60 {
      margin-top: 15px;
   }
   .abolute-img {
      width: 310px;
   }
   .absolute-text h3 {
      font-size: 28px;
   }
   .absolute-text {
      top: 15px;
   }
   .absolute-text sup:first-child {
      font-size: 12px;
      left: -30px;
      top: 10px;
   }
   .shop-slider-text .section-title h5 {
      font-size: 15px;
   }
   .shop-slider-text .section-title p {
      font-size: 16px;
      margin-bottom: 0;
   }
   .shop-slider-text {
      padding-bottom: 40px;
      padding-right: 40px;
   }
   .section-title.pt-100 {
      padding-top: 25px;
   }
   .shop-slider-img {
      padding-top: 12px;
   }
   .news-img img {
      width: 100%;
   }
   .news-text .section-title h3 {
      font-size: 26px;
   }
   .news-text .section-title h5 {
      font-size: 14px;
      margin-bottom: 5px;
   }
   .news-text p {
      font-size: 16px;
      line-height: 1.3;
   }
   .side-btn.mt-30,
   .side-btn.mt-20 {
      margin-top: 0px;
   }
   .news-text .section-title h3 {
      font-size: 26px;
      margin-bottom: 5px;
   }
   .side-btn.get-start-btn.mt-40 {
      margin-top: 10px;
   }
   .cta-text p {
      font-size: 18px;
   }
   .newletter-text h3 {
      font-size: 35px;
   }
   .newletter-text p {
      font-size: 18px;
   }
   .subcribe-form {
      padding: 0 20px;
   }
   .subcribe-form input {
      height: 60px;
   }
   .subcribe-form button[type="submit"] {
      height: 60px;
      font-size: 14px;
      line-height: 1;
   }
   .signle-brand img {
      width: 100%;
   }
   .contact-form {
      margin-left: 0;
   }
   .contact-form-btn {
      margin-bottom: 20px;
      margin-top: 30px;
   }
   .contact-area .section-title h3 {
      font-size: 30px;
   }
   .contact-area .section-title h3 {
      font-size: 25px;
      margin-bottom: 0px;
   }
   .done-item {
      display: inline-block;
      margin-right: 30px;
      margin-bottom: 10px;
   }
   .contact-area {
      background-size: 0;
   }
   .footer-newsletter .section-title h3 {
      font-size: 35px;
   }
   .footer-newsletter .section-title p {
      font-size: 18px;
      line-height: 1.3;
   }
   .footer-newsletter .section-title h5 {
      font-size: 12px;
   }
   .footer-newsletter-form input {
      padding: 15px;
      padding-left: 20px;
   }
   .footer-newsletter-form button[type="submit"] {
      font-size: 14px;
   }
   .footer-contact {
      padding: 20px 0;
   }

   .footer-contact {
      padding: 20px 0;
   }
   .footer-contact-item i {
      font-size: 25px;
      margin-right: 10px;
      padding-top: 10px;
   }
   .footer-contact-item p {
      font-size: 16px;
   }
   .footer-contact-item a {
      font-size: 13px;
      margin-top: 0px;
   }
   .hero-content h2 {
      font-size: 55px;
   }
   .container,
   .container-md,
   .container-sm {
      max-width: 720px;
   }
   .news-text {
      padding: 0 0;
   }
   .product-active-slider .shop-price {
      padding: 15px 0;
   }
   .client-info h3 {
      font-size: 20px;
   }
   .client-item-wrapper {
      padding: 20px 10px;
   }
   .client-info img {
      width: 150px;
   }
   .client-slider-active .slick-arrow button {
      font-size: 20px;
      height: 45px;
      width: 45px;
      line-height: 46px;
   }
   .client-slider-active .slick-arrow {
      left: -60px;
      margin-top: -25px;
   }
   .client-slider-active .slick-arrow:last-child {
      left: auto;
      right: -60px;
   }
   .client-slider-active::before {
      font-size: 55px;
      top: -23px;
      left: -10px;
   }
   .browse-text .side-btn {
      padding: 15px 45px;
   }
   .product-active-slider .shop-price h5 {
      font-size: 18px;
   }
   .shop-price span {
      font-size: 12px;
   }
   .review-img img {
      width: 100%;
   }
   .work-text-wrap {
      width: 80%;
   }
   .work-text {
      padding: 15px 20px;
   }
   .about-service-text p {
      font-size: 16px;
      margin-bottom: 12px;
   }

   .about-service-content {
      padding: 20px 15px;
      padding-left: 15px;
   }
   .about-service-text span {
      font-size: 16px;
      margin-bottom: 10px;
   }
   .about-service-content {
      text-align: center;
   }
   .about-service-text p {
      font-size: 16px;
      margin-bottom: 15px;
   }
   .about-service-list h5 {
      font-size: 18px;
      margin-bottom: 5px;
   }
   .about-service-list ul li {
      display: block;
   }
   .about-service-list ul {
      text-align: left;
      margin-left: 20px;
   }
   .about-service-img img {
      margin-bottom: 5px;
   }
   .about-service-text h2 {
      font-size: 30px;
   }
   .about-service-content {
      margin-bottom: 30px;
   }
   .about-play-service .play-btn {
      height: 60px;
      width: 60px;
      font-size: 20px;
      line-height: 55px;
   }
   .about-service-list ul li a {
      padding: 2px 15px;
   }
   .about-service-left-img {
      width: 47%;
   }
   .browse-tab-menu ul li a.nav-link.active::after {
      right: -70px;
      width: 100px;
   }
   .cta-text h4 {
      font-size: 45px;
      margin-bottom: 5px;
   }
   .footer-menu {
      padding-top: 30px;
   }
   .copyright-text p {
      font-size: 14px;
      margin: 0;
   }
   .copyright-text {
      padding: 10px 0;
   }
   .footer-logo p {
      margin-top: 10px;
   }
   .footer-menu ul li a {
      font-size: 16px;
      padding: 5px 0;
   }
   .location-map {
      height: 250px;
      overflow: hidden;
   }
   .location-info {
      padding: 20px 15px;
      padding-right: 0px;
      margin-left: 0px;
   }
   .location-info P i {
      font-size: 17px;
      height: 40px;
      width: 40px;
      line-height: 40px;
      margin: 5px 0;
      margin-right: 10px;
   }
   .location-info P {
      font-size: 14px;
      margin-bottom: 5px;
   }
   .contact-form button[type="submit"] {
      padding: 10px 0;
      font-size: 14px;
   }
   .absolute-playbtn {
      left: 100px;
   }
   .request-area .section-title h3 {
      font-size: 25px;
      margin-bottom: 5px;
   }
   .request-area .section-title p {
      line-height: 1.4;
   }
   .slider-style-nav .slick-arrow,
   .brand-acive-slider .slick-arrow {
      font-size: 20px;
      height: 65px;
      width: 65px;
      line-height: 65px;
      left: -67px;
      margin-top: -40px;
      z-index: 5;
   }
   .slider-style-nav .slick-arrow.slick-next,
   .brand-acive-slider .slick-arrow.slick-next {
      right: -67px;
      left: auto;
   }
   .brand-acive-slider .slick-arrow {
      bottom: -70px;
      top: auto;
      left: calc(50% - 70px);
   }
   .brand-acive-slider .slick-arrow.slick-next {
      top: auto;
      right: calc(50% - 70px);
      left: auto;
   }

   .open-menu.active {
      display: block;
   }
   .open-menu {
      display: block;
   }
   .mainmenu {
      display: none;
   }
   .logo img {
      max-width: 60px;
   }
   .hero-area {
      height: 550px;
   }
   .offer-text h5 {
      font-size: 24px;
   }

   .more-service-area .section-title {
      height: 250px;
   }

   .slider-style-nav .slick-arrow,
   .brand-acive-slider .slick-arrow {
      font-size: 20px;
      height: 50px;
      width: 50px;
      line-height: 50px;
      left: 50%;
      margin-top: 0;
      bottom: -70px;
      top: auto;
      transform: translateX(-50%);
      margin-left: -30px;
   }
   .slider-style-nav .slick-arrow.slick-next,
   .brand-acive-slider .slick-arrow.slick-next {
      right: auto;
      left: 50%;
      margin-left: 30px;
   }
   .membership-area .right-img .section-title {
      padding-right: 10px;
      padding-left: 15px;
   }
   .absolute-text {
      left: 60px;
   }

   .location-area .slider-style-nav .slick-arrow,
   .brand-acive-slider .slick-arrow {
      bottom: -100px;
   }
   .footer-content {
      padding: 0;
   }
   .footer-logo {
      padding-right: 0;
      text-align: left;
   }
   .footer-logo p {
      font-size: 16px;
   }
   .footer-newsletter-form {
      margin-bottom: 50px;
   }
   .copyright-text {
      padding: 15px 0;
      margin-top: 30px;
   }
   .footer-newsletter .section-title {
      text-align: center;
   }
   .review-img {
      display: none;
   }
   .review-img.review-img-slide-1 {
      display: block;
   }
   .review-img-slide-1 img {
      height: 150px;
   }
   .request-form {
      margin-top: 0;
      padding-left: 0;
      margin-right: 0;
   }
   .request-area .section-title {
      padding-right: 0;
   }

   .work-text-wrap {
      width: 100%;
      right: 0;
      bottom: -85px;
   }
   .work-text {
      height: 70px;
      width: 100%;
      text-align: center;
      justify-content: center;
      padding: 0;
   }
   .work-item {
      min-height: 140px;
      margin-bottom: 40px;
   }
   .work-text h5 {
      font-size: 14px;
   }
   .shop-box.new-tag::after {
      right: 6px;
      top: 0px;
      height: 20px;
      width: 50px;
      font-size: 12px;
   }
   .product-active-slider .shop-box.new-tag::after {
      height: 28px;
   }
   .sticker {
      bottom: -5px;
      width: 60px;
   }
   .social-link a {
      height: 45px;
      width: 45px;
      line-height: 43px;
      font-size: 20px;
   }
   .request-form .nice-select.right-bordered {
      padding-left: 20px;
   }


}

/* small mobile :320px. */
@media (max-width: 767px) {
   /* mobile-css */
   .header-warning {
      display: none;
   }
   .header-info {
      display: none;
   }
   .logo {
      margin-left: 0;
   }
   .logo img {
      max-height: 50px;
   }
   .hero-area {
      padding: 100px 0;
      text-align: center;
      height: auto;
   }
   .hero-content h2 {
      font-size: 30px;
   }
   p {
      font-size: 16px;
      line-height: 1.3;
      margin-bottom: 10px;
   }
   .side-btn,
   .shop-btn .side-btn {
      font-size: 16px;
      font-weight: 600;
      padding: 15px 35px;
      border-bottom: 1px solid var(--secoundary-color);
      border-top: 1px solid transparent;
      border-left: 1px solid var(--secoundary-color);
      border-right: 1px solid transparent;
   }
   .play-btn {
      font-size: 15px;
      height: 50px;
      width: 50px;
      line-height: 45px;
   }
   .absolute-playbtn {
      bottom: -25px;
      left: 50%;
      transform: translateX(-25px);
   }
   .section-title h5 {
      font-size: 12px;
   }
   .section-title h3 {
      font-size: 26px;
   }
   .section-title h3 span {
      display: block;
      margin-bottom: 10px;
   }
   .request-form {
      margin-top: 30px;
   }
   .form-wrapper {
      padding: 20px 15px;
      border-top-width: 5px;
   }
   .form-title span {
      font-size: 16px;
      letter-spacing: 0.1em;
   }
   .form-title h4 {
      font-size: 21px;
      margin-bottom: 14px;
   }
   ::placeholder {
      font-size: 16px;
   }
   .request-form input,
   .request-form textarea {
      margin-bottom: 10px;
   }
   .request-form button[type="submit"],
   .coupon-btn a {
      font-size: 18px;
      font-weight: 600;
      padding: 10px 0;
      padding-top: 5px;
   }
   .request-bg-shape {
      display: none;
   }
   .offer-text span {
      font-size: 16px;
   }
   .offer-text h5 {
      font-size: 24px;
   }
   .offer-slide-content ul li a {
      font-size: 16px;
      padding: 3px;
      padding-left: 0;
   }
   .offer-slide-content .offer-text {
      margin-bottom: 0;
   }
   .offer-slide-content {
      padding: 30px 0px;
      padding-left: 15px;
   }
   .offer-text h5 {
      color: var(--white);
      font-size: 24px;
      margin-bottom: 10px;
   }
   .offer-box img {
      width: 100%;
   }
   .get-start-btn.side-btn,
   .news-text .section-title .side-btn {
      font-size: 14px;
      padding: 14px 25px;
      margin-top: 5px;
   }
   .offer-btn {
      text-align: center;
   }
   .offer-box {
      margin-bottom: 10px;
   }
   .why-choose-list ul li {
      font-size: 12px;
      display: block;
      margin-bottom: 10px;
      padding-left: 10px;
      max-width: 100%;
   }
   .why-choose-img {
      position: relative;
      width: 100%;
      height: 250px;
   }
   .why-choose-list ul li span {
      font-size: 12px;
      margin: 8px 0;
      height: 25px;
      width: 25px;
      line-height: 24px;
      margin-right: 10px;
   }
   .why-choose-img h4 {
      font-size: 14px;
      padding: 14px 0;
   }
   .contact-info {
      position: relative;
      top: auto;
      right: auto;
      line-height: 1.2;
      text-align: center;
   }
   .coupon-content {
      padding: 20px 15px;
      text-align: center;
   }
   .contact-info h5 {
      margin-bottom: 0;
      font-size: 12px;
   }
   .contact-info span {
      font-size: 12px;
   }
   .contact-info::after {
      top: -20px;
      height: 75px;
      width: calc(100% + 30px);
      left: -15px;
      border-bottom: 5px solid var(--secoundary-color);
      transform: rotate(0deg) skew(0deg);
   }
   .coupon-content .logo {
      margin-bottom: 0;
      padding-top: 35px;
      padding-bottom: 15px;
   }
   .coupon-content h4 {
      font-size: 20px;
      margin-bottom: 10px;
   }
   .coupon-content p {
      font-size: 14px;
   }
   .coupon-card-border {
      padding: 5px;
   }
   .client-slider-active::before {
      font-size: 55px;
      top: -23px;
      left: -10px;
   }
   .offer-slide-content {
      width: 60%;
   }
   .client-info h3 {
      font-size: 20px;
   }
   .client-item-wrapper {
      padding: 20px 10px;
   }
   .client-info img {
      width: 150px;
   }
   .client-slider-active .slick-arrow button {
      font-size: 20px;
      height: 45px;
      width: 45px;
      line-height: 46px;
   }
   .client-slider-active .slick-arrow {
      left: 0;
      margin-top: -25px;
   }
   .client-slider-active .slick-arrow:last-child {
      left: auto;
      right: 0;
   }
   .arrow-border-style .slick-arrow:last-child::after {
      bottom: -5px;
      left: 5px;
   }
   .review-left-content h4 {
      font-size: 25px;
      margin-bottom: 15px;
   }
   .counter-experience h3 {
      font-size: 25px;
   }
   .counter-experience span {
      font-size: 14px;
   }
   .experience-item {
      margin-bottom: 15px;
      padding-left: 0;
   }
   .review-left-content {
      padding: 30px 25px;
      text-align: left;
   }
   .counter-experience {
      text-align: left;
   }
   .experience-item img {
      margin-right: 10px;
      width: 50px;
   }
   .review-left-wrapper {
      margin-bottom: 30px;
   }
   .review-right-content img {
      width: 100%;
   }
   .review-main-content {
      padding: 20px 15px;
   }
   .review-main-content h3 {
      font-size: 30px;
   }
   .review-main-content p {
      margin-bottom: 10px;
   }
   .work-item {
      min-height: 130px;
   }
   .work-text h5 {
      font-size: 19px;
   }
   .work-text span {
      font-size: 12px;
   }
   .section-title {
      text-align: center;
      position: relative;
      z-index: 5;
   }
   .about-service-content {
      padding: 20px 15px;
      padding-left: 15px;
   }
   .about-service-text span {
      font-size: 16px;
      margin-bottom: 10px;
   }
   .about-service-content {
      text-align: center;
   }
   .about-service-text p {
      font-size: 16px;
      margin-bottom: 15px;
   }
   .about-service-list h5 {
      font-size: 18px;
      margin-bottom: 5px;
   }
   .about-service-list ul li {
      display: block;
      display: inline-block;
      width: 49%;
   }
   .about-service-list ul {
      text-align: left;
      margin-left: 20px;
   }
   .about-service-img img {
      margin-bottom: 5px;
   }
   .about-service-text h2 {
      font-size: 30px;
   }
   .about-service-content {
      margin-bottom: 30px;
   }
   .about-play-service .play-btn {
      height: 60px;
      width: 60px;
      font-size: 20px;
      line-height: 55px;
   }
   .about-service-list ul li a {
      padding: 2px 15px;
   }
   .about-service-area .justify-content-end {
      justify-content: center !important;
   }
   .browse-tab-menu ul {
      padding: 20px 15px;
   }
   .browse-tab-menu ul li a.nav-link {
      font-size: 16px;
      padding: 10px 20px;
      margin-bottom: 5px;
   }
   .browser-tab-wrapper {
      margin-right: 0;
   }
   .browse-tab-menu ul li a.nav-link.active::after {
      display: none;
   }
   .browse-img {
      margin-right: 0;
      margin-top: 25px;
   }
   .browse-img img {
      width: 100%;
   }
   .browse-tab-content .col-md-6.mb-30 {
      margin-bottom: 15px;
   }
   .shop-price h5 {
      font-size: 20px;
   }
   .shop-price span {
      font-size: 14px;
   }
   .shop-img-wrap {
      margin-bottom: 35px;
   }
   .shop-area .col-md-4.mb-70 {
      margin-bottom: 30px;
   }
   .more-service-left .section-title h3 {
      font-size: 22px;
      margin-bottom: 10px;
   }
   .more-service-area .section-title p {
      font-size: 18px;
   }
   .more-service-left {
      padding: 0;
   }
   .more-service-left .section-title {
      padding: 20px 15px;
      position: relative;
   }
   .more-service-area .section-title p {
      color: #fff;
   }
   .more-service-area .section-title h3 {
      color: #fff;
   }
   .more-service-right .section-title h3 {
      font-size: 25px;
      color: #fff;
      margin-bottom: 10px;
   }
   .more-service-right {
      padding: 20px 15px;
      position: relative;
   }
   .more-service-right::after {
      position: absolute;
      left: 0;
      content: "";
      background: #000;
      height: 100%;
      width: 100%;
      top: 0;
      opacity: 0.5;
   }
   .product-slider-area .shop-box:hover {
      transform: translateY(0px);
   }
   .product-active-slider .shop-price h5 {
      font-size: 20px;
   }
   .product-active-slider .shop-price {
      padding: 15px 0;
   }
   .absolute-text h3 {
      font-size: 25px;
   }
   .abolute-img {
      display: none;
   }
   .membership-list ul li {
      font-size: 16px;
      color: var(--text-color);
   }
   .membership-list {
      padding-left: 15px;
      text-align: left;
      width: 100%;
      padding-bottom: 30px;
   }
   .membership-list ul {
      text-align: left;
      padding-left: 0;
   }
   .member-ship-content {
      padding-top: 60px;
      padding-bottom: 15px;
   }
   .member-ship-content .section-title p {
      font-size: 16px;
      font-weight: 500;
      line-height: 1.5;
      margin-bottom: 0;
   }
   .member-ship-content .section-title h3 {
      font-size: 30px;
      margin-bottom: 10px;
   }
   .absolute-text,
   .right-img .absolute-text {
      top: 15px;
      left: 15px;
      right: 0;
      text-align: center;
   }
   .absolute-text h3 {
      font-size: 25px;
      display: inline-block;
      position: relative;
   }
   .absolute-text sup:first-child {
      font-size: 12px;
      left: -30px;
      top: 10px;
   }
   .member-ship-content .section-title {
      padding: 0 15px;
      text-align: left;
   }
   .membership-box {
      margin-bottom: 25px;
   }
   .shop-slider-bg-wrapper {
      top: auto;
      width: 100%;
      height: 70%;
      left: 0;
   }
   .shop-slider-text {
      padding: 30px 15px;
   }
   .shop-slider-text .section-title.pt-100 {
      padding-top: 0;
   }
   .shop-slider-text .section-title p {
      font-size: 16px;
      font-weight: 500;
      line-height: 1.5;
   }
   .shop-slider-text .section-title h5 {
      font-size: 18px;
   }
   .shop-slider-bg-wrapper .style-border-reverse:after,
   .shop-slider-bg-wrapper .style-border-reverse:before {
      display: none;
   }
   .news-img img {
      width: 100%;
   }
   .news-text .section-title h5 {
      font-size: 14px;
      margin-bottom: 5px;
   }
   .news-text {
      padding: 0 15px;
   }
   .news-text .section-title h3 {
      font-size: 23px;
      margin-bottom: 10px;
   }
   .absolute-text,
   .right-img .absolute-text {
      top: 25px;
   }
   .news-text .section-title .side-btn {
      margin-top: 10px;
   }
   .cta-text h4 {
      font-size: 30px;
      margin-bottom: 10px;
   }
   .cta-text p {
      font-size: 16px;
   }
   .location-map {
      height: 250px;
      overflow: hidden;
   }
   .location-info {
      padding: 20px 15px;
      padding-right: 15px;
      margin-left: 0;
   }
   .location-info P i {
      font-size: 17px;
      height: 40px;
      width: 40px;
      line-height: 40px;
      margin: 5px 0;
      margin-right: 10px;
   }
   .location-info P {
      font-size: 18px;
   }
   .contact-btn a {
      font-size: 14px;
      padding: 15px 0;
      width: 70%;
      margin: 0;
   }
   .more-service-left .get-start-btn.side-btn {
      margin-top: 0;
   }
   .membership-list .get-start-btn.side-btn,
   .shop-slider-text .side-btn,
   .request-area .side-btn {
      margin-top: 10px;
   }
   .newletter-text h3 {
      font-size: 20px;
      margin-bottom: 5px;
   }
   .newletter-text p {
      font-size: 12px;
      margin-bottom: 15px;
      line-height: 1.4;
   }
   .subcribe-form input {
      width: 100%;
      height: 50px;
      margin-bottom: 10px;
   }
   .subcribe-form input::placeholder {
      font-size: 12px;
   }
   .subcribe-form button[type="submit"] {
      width: 100%;
      height: 50px;
      font-size: 14px;
      margin-left: 0%;
   }
   .newletter-text {
      padding: 0 15px;
   }
   .signle-brand img {
      margin: 0 auto;
      width: 100%;
   }
   .contact-form-btn {
      margin-bottom: 15px;
      margin-top: 15px;
   }
   .contact-form {
      padding: 0;
      margin-left: 0;
      padding-bottom: 10px;
   }
   .contact-area .section-title {
      padding: 0px 0px;
   }
   .newletter-wrap {
      margin: 0;
   }
   .contact-area .section-title h3 {
      font-size: 20px;
      margin: 5px;
   }
   .done-item {
      display: inline-block;
      margin-right: 10px;
      margin-bottom: 10px;
      margin-left: 10px;
   }
   .contact-area .section-title .done-item h3 {
      margin-bottom: 0;
   }
   .contact-form button[type="submit"] {
      padding: 10px 0;
      font-size: 13px;
   }
   .footer-content {
      padding: 0;
   }
   .footer-newsletter .section-title p {
      font-size: 16px;
      line-height: 1.3;
   }
   .footer-newsletter .section-title h3 {
      font-size: 26px;
      margin-bottom: 5px;
   }
   .footer-newsletter .section-title h5 {
      font-size: 12px;
   }
   .footer-newsletter-form input {
      padding: 12px;
      padding-left: 15px;
   }
   .footer-newsletter-form button[type="submit"] {
      font-size: 14px;
   }
   .footer-contact {
      padding: 20px 0;
   }
   .footer-contact-item i {
      font-size: 25px;
      margin-right: 10px;
      padding-top: 10px;
   }
   .footer-contact-item p {
      font-size: 16px;
   }
   .footer-contact-item a {
      font-size: 13px;
      margin-top: 0px;
   }
   .footer-logo {
      padding: 20px 15px;
   }
   .footer-logo a img {
      width: auto;
   }
   .footer-logo p {
      font-size: 16px;
      margin-top: 15px;
      margin-bottom: 10px;
   }
   .footer-menu ul li a {
      font-size: 14px;
      padding: 5px 0;
   }
   .footer-menu {
      padding: 15px 20px;
   }
   .copyright-text p {
      font-size: 14px;
      margin: 0;
   }
   .copyright-text {
      padding: 20px 0;
   }
   .footer-newsletter {
      margin-bottom: 30px;
   }
   .work-text-wrap {
      width: 70%;
   }
   .slider-style-nav .slick-arrow,
   .brand-acive-slider .slick-arrow {
      font-size: 20px;
      height: 45px;
      width: 45px;
      line-height: 45px;
      left: 0;
      margin-top: -40px;
      z-index: 5;
   }
   .slider-style-nav .slick-arrow.slick-next,
   .brand-acive-slider .slick-arrow.slick-next {
      right: 0;
      left: auto;
   }
   .brand-acive-slider .slick-arrow {
      bottom: -50px;
      top: auto;
      left: calc(50% - 50px);
   }
   .brand-acive-slider .slick-arrow.slick-next {
      bottom: -50px;
      top: auto;
      right: calc(50% - 50px);
      left: auto;
   }
   .footer-logo::after,
   .footer-logo::before {
      top: -5px;
      height: 10px;
      width: 10px;
   }

   .logo img {
      max-width: 140px;
   }
   .logo {
      padding: 5px 0;
   }
   .mainmenu.active ul li a:hover,
   .mainmenu.active ul li.current a {
      color: var(--theme-color);
   }

   .client-slider-active .slick-arrow {
      left: 50%;
      margin-top: 0;
      bottom: -70px;
      top: auto;
      margin-left: -28px;
      transform: translateX(-50%);
   }
   .client-slider-active .slick-arrow:last-child {
      left: 50%;
      right: auto;
      margin-left: 28px;
   }

   .about-service-left-img {
      width: 0;
   }

   .more-service-area .section-title {
      height: auto;
      padding: 30px 0;
   }
   .play-btn {
      line-height: 43px;
      padding-left: 5px;
   }

   .membership-list ul {
      text-align: left;
      padding-left: 15px;
   }
   .member-ship-content .section-title p {
      font-size: 14px;
      text-align: left;
   }
   .absolute-text,
   .right-img .absolute-text {
      left: 50px;
      text-align: left;
   }
   .member-ship-content .section-title h3 {
      text-align: left;
   }

   .membership-area .right-img .section-title {
      padding-right: 15px;
      padding-left: 15px;
   }
   .member-ship-content .section-title h3 {
      font-size: 24px;
   }
   .news-text .section-title .side-btn {
      margin-top: 20px;
   }

   .location-info {
      width: 100%;
   }

   .location-info P {
      display: flex;
      align-items: center;
      font-size: 14px;
      flex-wrap: wrap;
      text-align: center;
   }
   .location-info P i {
      margin: 0 auto;
      margin-bottom: 10px;
   }
   .location-info {
      padding-right: 0;
   }
   .location-infom {
      border-right: 0 solid var(--theme-color);
   }
   .location-info {
      border-right: 0;
   }
   .slider-style-nav .slick-arrow,
   .brand-acive-slider .slick-arrow {
      left: 50%;
      margin-top: 0;
      z-index: 5;
      top: auto;
      bottom: -70px;
      margin-left: -28px;
      transform: translateX(-50%);
   }

   .slider-style-nav .slick-arrow.slick-next,
   .brand-acive-slider .slick-arrow.slick-next {
      right: auto;
      left: 50%;
      margin-left: 28px;
   }
   .location-info p a {
      display: block;
      width: 100%;
   }

   .brand-acive-slider .slick-arrow.slick-next {
      bottom: -70px;
   }
   .footer-contact-item p {
      width: 100%;
      margin-top: 10px;
   }
   .footer-contact-item {
      display: flex;
      text-align: center;
      flex-wrap: wrap;
   }
   .footer-contact-item i {
      margin: 0 auto;
   }
   .footer-logo {
      margin-top: 30px;
   }
   .footer-menu {
      text-align: center;
   }
   .social-link a {
      height: 40px;
      width: 40px;
      line-height: 36px;
      font-size: 18px;
   }
   .social-link {
      margin-top: 25px;
   }

   .review-img {
      display: none;
   }
   .review-img.review-img-slide-1 {
      display: block;
   }

   .work-text-wrap {
      width: 100%;
      right: 0;
      bottom: -85px;
   }
   .work-text {
      height: 70px;
      width: 100%;
      text-align: center;
      justify-content: center;
      padding: 0;
   }
   .work-item {
      min-height: 140px;
      margin-bottom: 40px;
   }
   .work-text h5 {
      font-size: 14px;
   }
   .header-menu-area.sticky .logo img {
      width: auto;
   }
   .request-area .section-title {
      padding-right: 0;
   }
   .request-form {
      padding-left: 0;
      margin-right: 0;
   }
   input,
   textarea {
      padding: 15px 18px;
      font-size: 18px;
   }
   .form-title {
      text-align: center;
      margin-bottom: 25px;
   }
   .request-form .nice-select.right-bordered {
      height: 57px;
      padding-left: 20px;
      font-size: 16px;
   }
   .browse-service-area .gray-bg {
      height: 100%;
   }
   .sticker {
      position: relative;
      left: 0;
   }
   .offer-box {
      height: 300px;
   }
   .logo a {
      margin-bottom: 0;
   }
   .row.no-gutters > div:nth-child(1) {
      order: 2;
   }
   .about-play-service {
      width: 100%;
      background-image: url(./../img/about/about-left-img.jpg);
      background-size: cover;
      background-position: center;
      padding: 40px 0;
      margin-top: 10px;
   }
}

/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
   .container {
      width: 450px;
   }
}
